body {
    padding-left: 15px;
    font-size: 17px;
    font-family: brandon-reg, Arial, Helvetica, sans-serif;
    background-color: rgb(235, 235, 228);
}

.sidenav {
    height: 100%;
}

.img-fluid {
    width: 100%;
}

input, select, .form-control {
    background: transparent;
    border: none;
    box-shadow: none;
    border-bottom: 1px solid rgb(113, 114, 110);
    border-radius: 0;
}

input:focus, select:focus, .form-control:focus {
    background-color: #ffffff;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
}

a, h1, h2, h3, h4, h5, h6, p, input, select, label, td, th, small, textarea, option {
    font-family: brandon-reg;
}

/* .sidenav {
    height: 100%;
    width: 160px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    color: rgb(227,117,70);
    background-color: rgb(113,114,110);
    overflow-x: hidden;
    padding-top: 20px;
}

.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
}

.sidenav a:hover {
    color: #f1f1f1;
} */

.main {
    margin-left: 160px;
    /* Same as the width of the sidenav */
    font-size: 28px;
    /* Increased text to enable scrolling */
    padding: 0px 10px;
}

@font-face {
    font-family: "brandon-reg";
    src: url('../fonts/hvd_fonts_-_brandongrotesque-regular.otf') format("truetype");
}

/* #search-bar-body {
    -moz-appearance: textfield;
    -webkit-appearance: textfield;
    background-color: white;
    background-color: -moz-field;
    border: 1px solid darkgray;
    box-shadow: 1px 1px 1px 0 lightgray inset;  
    font: -moz-field;
    font: -webkit-small-control;
    margin-top: 5px;
    padding: 2px 3px;
    width: 398px;    
} */