{% extends "catalogue/detail/detail.html" %}
{% load widget_tweaks %}
{% load static %}

{% block custom_headers %}
{% if edit_mode %}
<style>
    .edit-field {
        background: transparent;
        vertical-align: middle;
        border: none;
        box-shadow: none;
    }

    .edit-field:focus {
        background-color: #ffffff;
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
        outline: none;
    }

    #object-details .select2-container .select2-selection--single,
    #object-details .select2-container--default .select2-selection--single .select2-selection__rendered,
    #object-details .select2-container--default .select2-selection--single .select2-selection__arrow {
        background-color: rgb(235, 235, 228);
        border: none;
    }

    .details-list .form-group {
        height: 1.8rem;
    }

    .details-list .ungroup {
        height: unset;
    }
</style>
{% endif %}
{% endblock custom_headers %}

{% block javascript %}
<script>
    function updateExhibitions() {
        let split_location = location.pathname.split('/');
        let pk = split_location[split_location.length - 2];
        $.get(
            `/c/api/exhibitionsforartwork/${pk}`,
            (data) => {
                $("#related-exhibitions").html(data);
            }

        );
    }
    $(document).ready(function () {

        // $("#artwork-series").on('change', setSelectWidth);
        // var mDiv = $("<span />").text("M").appendTo("body"),
        //     mSize = mDiv.width();
        // mDiv.detach();

        // var letterSize = function (s) {
        //     var sDiv = $("<span />").text("M" + s + "M").appendTo("body"),
        //         sSize = sDiv.width();

        //     sDiv.detach();

        //     return (sSize - (mSize * 2)) * 0.89;
        // };
        // $(".data-resize-me").each(function () {
        //     var minSize = $(this).width();

        //     var resizeInput = function () {
        //         console.log($(this).val());
        //         var calcSize = $.map($(this).val(), letterSize);
        //         var inputSize = 0;
        //         $.each(calcSize, function (i, v) { inputSize += v; });

        //         $(this).width(inputSize < minSize ? minSize : inputSize);
        //     };

        //     $(this).on({ keydown: resizeInput, keyup: resizeInput });
        // });

        $("#artwork-title").each((index, elem) => {
            let value = elem.value;
            elem.style.width = ((value.length)) + 'ch';
        });
        $("#artwork-title").on('keyup keydown', (event) => {
            event.target.style.width = ((event.target.value.length)) + 'ch';
        });


        // $(".size-field").each((index, elem) => {
        //     let value = elem.value;
        //     if (String(Number(value)) === value) {
        //         elem.style.width = ((value.length) * 9 + 5) + 'px';
        //     } else {
        //         elem.style.width = ((value.length - 2) * 9 + 5) + 'px';
        //     }
        // });
        // $('.size-field').on('keyup keydown', (event) => {
        //     event.target.style.width = ((event.target.value.length) * 9 + 5) + 'px';
        // });

        // $('#artwork-location').select2({ 'placeholder': 'Location' });
        // $('#workinexhibition-exhibition').select2({ 'placeholder': 'New Exhibition' });
        // $('#id_location').select2({ 'placeholder': '{{form.location.field.placeholder}}', 'width': '140px' })
        // $('#id_rolled').select2({ 'placeholder': '{{form.rolled.field.placeholder}}', 'width': '140px' })

        updateExhibitions();

        $('#new-exhibition-submit').on('click', () => {
            $("#workinexhibition-form-errors").empty();
            let artwork = $("#workinexhibition-artwork").children("option:selected").val();
            let exhibition = $("#workinexhibition-exhibition").children("option:selected").val();
            let csrf = '{{csrf_token }}';
            $.post(
                '/c/api/addworkinexhibition',
                {
                    artwork: artwork,
                    exhibition: exhibition,
                    csrfmiddlewaretoken: csrf
                },
                (data) => {
                    if (data['success']) {
                        updateExhibitions();
                    } else {
                        data['errors'].forEach(element => {
                            $("#workinexhibition-form-errors")
                            data['errors'].forEach(error => {
                                $("#workinexhibition-form-errors").append(
                                    `<li>${error}</li>`
                                )
                            });
                        });
                    }

                });


        });

        // SIZE FIELD RESIZE
        // see https://www.impressivewebs.com/textarea-auto-resize/ for source

        // Targets all sizeFields with class "txta"
        let sizeFields = document.querySelectorAll('.size-field'),
            hiddenDiv = document.createElement('div'),
            content = null;



        // Build the hidden div's attributes

        // The line below is needed if you move the style lines to CSS
        // hiddenDiv.classList.add('hiddendiv');

        // Add the "txta" styles, which are common to both sizeField and hiddendiv
        // If you want, you can remove those from CSS and add them via JS
        hiddenDiv.classList.add('.size-field');
        // hiddenDiv.classList.add('form-control');

        // Add the styles for the hidden div
        // These can be in the CSS, just remove these three lines and uncomment the CSS
        hiddenDiv.style.display = 'none';
        hiddenDiv.style.whiteSpace = 'pre-wrap';
        hiddenDiv.style.wordWrap = 'break-word';

        // function for adding hidden area and fixing height to match contents
        function addHiddenArea(sizeField) {
            // Append hiddendiv to parent of sizeField, so the size is correct
            sizeField.parentNode.appendChild(hiddenDiv);

            // Remove this if you want the user to be able to resize it in modern browsers
            sizeField.style.resize = 'none';

            // This removes scrollbars
            sizeField.style.overflow = 'hidden';

            // Every input/change, grab the content
            content = sizeField.value;

            // Add the same content to the hidden div

            // This is for old IE
            content = content.replace(/\n/g, '<br style="line-height:1px;">');

            // The <br ..> part is for old IE
            // This also fixes the jumpy way the sizeField grows if line-height isn't included
            hiddenDiv.innerHTML = content;

            // Briefly make the hidden div block but invisible
            // This is in order to read the height
            hiddenDiv.style.visibility = 'hidden';
            hiddenDiv.style.display = 'inline';
            // console.log('width ' + hiddenDiv.offsetWidth);
            sizeField.style.width = (hiddenDiv.offsetWidth + 4) + 'px';

            // Make the hidden div display:none again
            hiddenDiv.style.visibility = 'visible';
            hiddenDiv.style.display = 'none';
        }


        // Loop through all the sizeFields and add the event listener
        for (let i of sizeFields) {
            (function (i) {

                // add hidden div initially to set height
                addHiddenArea(i);

                // Note: Use 'keyup' instead of 'input'
                // if you want older IE support
                i.addEventListener('input', function () {
                    addHiddenArea(i);

                });
            })(i);
        }
        // SIZE FIELD RESIZE DONE
    });
</script>
{% endblock javascript %}

{% block object_details %}
<div id="elm-artwork-detail-flags">
                            {% csrf_token %}
</div>
<div id="elm-artwork-data"></div>
<script>
    function elm_flags() {
    return {}
    }
    function elm_artwork_detail_flags() {
                            let elm_flags = JSON.parse("{{artwork_json|escapejs|default:'{}'}}");
                            console.log('downloaded artwork data:')
                            console.log(elm_flags)
                            let csrftoken = document.getElementById('elm-artwork-detail-flags').querySelector('input[name=csrfmiddlewaretoken]').value;
                            elm_flags['csrftoken'] = csrftoken;
                            elm_flags['artwork_id'] = {{ object.pk |default:"null" }};
                            elm_flags['loader_icon']  = "{% static 'images/spinner.svg' %}";
                            elm_flags['success_icon'] = "{% static 'images/upload_success.svg' %}";
                            elm_flags['fail_icon'] = "{% static 'images/upload_fail.svg' %}"; 
                        return elm_flags
                        }
    var app = Elm.ArtworkDetail.init({
        node: document.getElementById("elm-artwork-data"),
        flags: elm_artwork_detail_flags()
    });        
</script>
{% endblock object_details %}

{% block related_items %}
{% endblock %}

{% block left_swipe %}
{% if prev_artwork %}
<a id="left-swipe-action" class="swipe-action" href="{% url 'catalogue:artwork_detail' prev_artwork.pk %}"
    onclick="getElementById('left-swipe-action').focus()">
    <div class="swipe-action-icon">&lt;</div>
</a>
{% endif %}
{% endblock %}

{% block right_swipe %}
{% if next_artwork %}
<a id="right-swipe-action" class="swipe-action" href="{% url 'catalogue:artwork_detail' next_artwork.pk %}"
    onclick="getElementById('right-swipe-action').focus()">
    <div class="swipe-action-icon">&gt;</div>
</a>
{% endif %}
{% endblock %}