{% extends "catalogue/detail/detail.html" %}
{% load widget_tweaks %}
{% load static %}

{% block javascript %}
<script>
    $(document).ready(function () {

        // $("#artwork-series").on('change', setSelectWidth);
        // var mDiv = $("<span />").text("M").appendTo("body"),
        //     mSize = mDiv.width();
        // mDiv.detach();

        // var letterSize = function (s) {
        //     var sDiv = $("<span />").text("M" + s + "M").appendTo("body"),
        //         sSize = sDiv.width();

        //     sDiv.detach();

        //     return (sSize - (mSize * 2)) * 0.89;
        // };
        // $(".data-resize-me").each(function () {
        //     var minSize = $(this).width();

        //     var resizeInput = function () {
        //         console.log($(this).val());
        //         var calcSize = $.map($(this).val(), letterSize);
        //         var inputSize = 0;
        //         $.each(calcSize, function (i, v) { inputSize += v; });

        //         $(this).width(inputSize < minSize ? minSize : inputSize);
        //     };

        //     $(this).on({ keydown: resizeInput, keyup: resizeInput });
        // });

        $("#artwork-title").each((index, elem) => {
            let value = elem.value;
            elem.style.width = ((value.length)) + 'ch';
        });
        $("#artwork-title").on('keyup keydown', (event) => {
            event.target.style.width = ((event.target.value.length)) + 'ch';
        });


        $(".size-field").each((index, elem) => {
            let value = elem.value;
            if (String(Number(value)) === value) {
                elem.style.width = ((value.length) * 9 + 5) + 'px';
            } else {
                elem.style.width = ((value.length - 2) * 9 + 5) + 'px';
            }
        });
        $('.size-field').on('keyup keydown', (event) => {
            event.target.style.width = ((event.target.value.length) * 9 + 5) + 'px';
        });

        $('#artwork-location').select2({ 'placeholder': 'Location' });
        $('#new-exhibition-select').select2({ 'placeholder': 'New Exhibition' })
    });

</script>
{% endblock javascript %}

{% block object_details %}
<form action="." method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <div id="page-header" class="">
        <div class="form-inline">
            <div class="form-group">
                {% render_field form.series class="header-item edit-field form-control" %}
                <span class="header-item separator" style="margin-left:1rem;margin-right:1.5rem;">: </span>
            </div>
        </div>
        <div class="form-inline" style="flex-wrap:nowrap">
            <div class="form-group">
                <span class="header-item separator"
                    style="padding-left:0rem;padding-right:2rem;margin-left:1rem;margin-right:1.5rem;"></span>
                {% render_field form.title class="object-name header-item edit-field form-control" style="width:300px;" %}
                {% render_field form.status class="header-item edit-field form-control" %}
                <span class="header-item separator" style="margin-left:1.5rem;margin-right:1.5rem;"> / </span>
                <label class="header-item" id="breadcrumb" for="{{ form.title.auto_id }}">Artwork</label>
            </div>
            <div class="form-group">
                <input type="submit" id="detail-submit" class="header-action action-button btn"
                    value="{{ action_name }}">
            </div>
        </div>
    </div>
    <div class="row mx-auto" id="artwork-details-wrapper" style="max-width:999px;">
        <div class="col-6" style="padding:0px;display:flex;align-items:center;flex-direction:column">
            <div id="artwork-image" class="card">
                <div class="card-body">
                    <div style="height:405px">
                        {% if form.instance.image %}
                        <img class="img-fluid mx-auto" id="id_image" src="{{ form.instance.image.url }}" alt="Artwork image"
                            style="height:100%;display:block">
                        {% else %}
                        <div class="mx-auto" id="id_image" style="height:100%;display:block; width:75%;background-color: darkgrey;">
                        </div>
                        {% endif %}
                    </div>
                        <!-- <div class="custom-file"> -->

                          <!-- <div class="btn btn-primary btn-sm float-left">
                                <input type="file" class="custom-file-input" id="customFile">
                                <label class="custom-file-label" for="customFile">Upload</label>
                              </div> -->
                            <!-- <span>Choose file</span>
                            <input type="file">
                          </div> -->
                          <!-- <div class="file-path-wrapper">
                            <input class="file-path validate" type="text" placeholder="Upload your file">
                          </div> -->
                        <!-- </div> -->
                      <!-- </form> -->
                    <label for="id_image" class="action-button btn hidden-file-upload-label">
                        Upload Image
                    </label>
                    {% render_field form.image class="hidden-file-upload action-button" %}
                </div>
            </div>
            <div id="sales-info" class="card">
                <div class="card-body sale-form">
                    <h3 class='card-title'>Sale Info</h3>
                    <div class="details-list form-inline">
                        {% include "catalogue/utils/field.html" with field=form.owner %}
                        {% include "catalogue/utils/field.html" with field=form.sold_by %}
                        {% include "catalogue/utils/field.html" with field=form.price_nis %}
                        {% include "catalogue/utils/field.html" with field=form.price_usd %}
                        {% include "catalogue/utils/field.html" with field=form.sale_currency %}
                        {% include "catalogue/utils/field.html" with field=form.sale_price %}
                        {% include "catalogue/utils/field.html" with field=form.discount %}
                        {% include "catalogue/utils/field.html" with field=form.sale_date %}
                    </div>
                </div>
            </div>
        </div>
        <div class="col-6" style="padding:0px;display:flex;align-items:center;flex-direction:column">
            <div id="artwork-details" class="card">
                <div class="card-body">
                    <h3 class="card-title">Details</h3>
                    <div id="object-details-body" class="details-list form-inline">
                        <!-- NOTE: year field used to have artwork-year class -->
                        {% include "catalogue/utils/field.html" with field=form.year %}
                        {% include "catalogue/utils/field.html" with field=form.size %}
                        {% include "catalogue/utils/field.html" with field=form.location %}
                        {% include "catalogue/utils/field.html" with field=form.rolled %}
                        {% include "catalogue/utils/field.html" with field=form.framed %}
                        {% include "catalogue/utils/field.html" with field=form.medium %}
                        <label for="size-fields-measures">Size ( h w d ):</label>
                        <div id="size-fields-measures" class=""
                            style="flex-direction:column;align-items:flex-start;margin-top:0.5rem;">
                            <div id="size-fields-in" class="form-inline form-group size-form-group">
                                <div id="id_size_in"
                                    class="size-field-container edit-field form-control form-control-sm">
                                    {% render_field form.height_in class="size-field" %}
                                    <span class="size-field-separator">x</span>
                                    {% render_field form.width_in class="size-field" %}
                                    <span class="size-field-separator">x</span>
                                    {% render_field form.depth_in class="size-field" %}
                                </div>
                                <label for="id_size_in">in</label>
                            </div>
                            <div id="size-fields-cm" class="form-inline form-group size-form-group">
                                <div id="id_size_cm"
                                    class="size-field-container edit-field form-control form-control-sm">
                                    {% render_field form.height_cm class="size-field" %}
                                    <span class="size-field-separator">x</span>
                                    {% render_field form.width_cm class="size-field" %}
                                    <span class="size-field-separator">x</span>
                                    {% render_field form.depth_cm class="size-field" %}
                                </div>
                                <label for="id_size_cm">cm</label>
                            </div>
                        </div>
                        {% include "catalogue/utils/field.html" with field=form.additional ungroup=True %}
                    </div>
                </div>
            </div>
            {% if edit_mode %}
            <div id="exhibitions" class="card">
                <div class="card-body">
                    <h3 class="card-title">All Exhibitions</h3>
                    <!-- <form action="{% url 'catalogue:add_workinexhibition' %}" method="POST"> -->
                    <div class="form-inline" id="add-work-to-exhibition">
                        <!-- {% render_field exhibitionForm.artwork class="collapse" style="visibility:hidden;" %} -->
                        <!-- {% render_field exhibitionForm.exhibition class="form-control" id="new-exhibition-select" %} -->
                        <!-- <input type="submit" class="btn btn-primary btn-sm" value="Add new" id="new-exhibition-submit"> -->
                    </div>
                    <!-- </form> -->
                    <table class="table table-striped table-hover">
                        {% include "catalogue/list_module/exhibition_list.html" with object_list=exhibitionList %}
                    </table>

                </div>
            </div>
            {% endif %}
        </div>
</form>
{% endblock object_details %}