{% extends "catalogue/detail/detail.html" %}
{% load widget_tweaks %}
{% load static %}

{% block javascript %}
<script>
    function updateExhibitions() {
        let split_location = location.pathname.split('/');
        let pk = split_location[split_location.length - 2];
        $.get(
            `/c/api/exhibitionsforartwork/${pk}`,
            (data) => {
                $("#related-exhibitions").html(data);
            }

        );
    }
    $(document).ready(function () {

        // $("#artwork-series").on('change', setSelectWidth);
        // var mDiv = $("<span />").text("M").appendTo("body"),
        //     mSize = mDiv.width();
        // mDiv.detach();

        // var letterSize = function (s) {
        //     var sDiv = $("<span />").text("M" + s + "M").appendTo("body"),
        //         sSize = sDiv.width();

        //     sDiv.detach();

        //     return (sSize - (mSize * 2)) * 0.89;
        // };
        // $(".data-resize-me").each(function () {
        //     var minSize = $(this).width();

        //     var resizeInput = function () {
        //         console.log($(this).val());
        //         var calcSize = $.map($(this).val(), letterSize);
        //         var inputSize = 0;
        //         $.each(calcSize, function (i, v) { inputSize += v; });

        //         $(this).width(inputSize < minSize ? minSize : inputSize);
        //     };

        //     $(this).on({ keydown: resizeInput, keyup: resizeInput });
        // });

        $("#artwork-title").each((index, elem) => {
            let value = elem.value;
            elem.style.width = ((value.length)) + 'ch';
        });
        $("#artwork-title").on('keyup keydown', (event) => {
            event.target.style.width = ((event.target.value.length)) + 'ch';
        });


        // $(".size-field").each((index, elem) => {
        //     let value = elem.value;
        //     if (String(Number(value)) === value) {
        //         elem.style.width = ((value.length) * 9 + 5) + 'px';
        //     } else {
        //         elem.style.width = ((value.length - 2) * 9 + 5) + 'px';
        //     }
        // });
        // $('.size-field').on('keyup keydown', (event) => {
        //     event.target.style.width = ((event.target.value.length) * 9 + 5) + 'px';
        // });

        $('#artwork-location').select2({ 'placeholder': 'Location' });
        $('#workinexhibition-exhibition').select2({ 'placeholder': 'New Exhibition' });
        $('#id_location').select2({ 'placeholder': '{{form.location.field.placeholder}}', 'width': '140px' })
        $('#id_rolled').select2({ 'placeholder': '{{form.rolled.field.placeholder}}', 'width': '140px' })

        updateExhibitions();

        $('#new-exhibition-submit').on('click', () => {
            $("#workinexhibition-form-errors").empty();
            let artwork = $("#workinexhibition-artwork").children("option:selected").val();
            let exhibition = $("#workinexhibition-exhibition").children("option:selected").val();
            let csrf = '{{csrf_token }}';
            $.post(
                '/c/api/addworkinexhibition',
                {
                    artwork: artwork,
                    exhibition: exhibition,
                    csrfmiddlewaretoken: csrf
                },
                (data) => {
                    if (data['success']) {
                        updateExhibitions();
                    } else {
                        data['errors'].forEach(element => {
                            $("#workinexhibition-form-errors")
                            data['errors'].forEach(error => {
                                $("#workinexhibition-form-errors").append(
                                    `<li>${error}</li>`
                                )
                            });
                        });
                    }

                });


        });

        // SIZE FIELD RESIZE
        // see https://www.impressivewebs.com/textarea-auto-resize/ for source

        // Targets all sizeFields with class "txta"
        let sizeFields = document.querySelectorAll('.size-field'),
        hiddenDiv = document.createElement('div'),
        content = null;



        // Build the hidden div's attributes

        // The line below is needed if you move the style lines to CSS
        // hiddenDiv.classList.add('hiddendiv');

        // Add the "txta" styles, which are common to both sizeField and hiddendiv
        // If you want, you can remove those from CSS and add them via JS
        hiddenDiv.classList.add('.size-field');
        // hiddenDiv.classList.add('form-control');

        // Add the styles for the hidden div
        // These can be in the CSS, just remove these three lines and uncomment the CSS
        hiddenDiv.style.display = 'none';
        hiddenDiv.style.whiteSpace = 'pre-wrap';
        hiddenDiv.style.wordWrap = 'break-word';

        // function for adding hidden area and fixing height to match contents
        function addHiddenArea(sizeField) {
            // Append hiddendiv to parent of sizeField, so the size is correct
            sizeField.parentNode.appendChild(hiddenDiv);

            // Remove this if you want the user to be able to resize it in modern browsers
            sizeField.style.resize = 'none';

            // This removes scrollbars
            sizeField.style.overflow = 'hidden';

            // Every input/change, grab the content
            content = sizeField.value;

            // Add the same content to the hidden div

            // This is for old IE
            content = content.replace(/\n/g, '<br style="line-height:1px;">');

            // The <br ..> part is for old IE
            // This also fixes the jumpy way the sizeField grows if line-height isn't included
            hiddenDiv.innerHTML = content ;

            // Briefly make the hidden div block but invisible
            // This is in order to read the height
            hiddenDiv.style.visibility = 'hidden';
            hiddenDiv.style.display = 'inline';
            // console.log('width ' + hiddenDiv.offsetWidth);
            sizeField.style.width = (hiddenDiv.offsetWidth + 4) + 'px';

            // Make the hidden div display:none again
            hiddenDiv.style.visibility = 'visible';
            hiddenDiv.style.display = 'none';
        }


        // Loop through all the sizeFields and add the event listener
        for (let i of sizeFields) {
        (function (i) {

        // add hidden div initially to set height
        addHiddenArea(i);

        // Note: Use 'keyup' instead of 'input'
        // if you want older IE support
        i.addEventListener('input', function () {
        addHiddenArea(i);

        });
        })(i);
        }
        // SIZE FIELD RESIZE DONE
    });
</script>
{% endblock javascript %}

{% block object_details %}
<form action="." method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <div id="page-header" class="">
        <div class="form-inline">
            <div class="form-group" id="series-select">
                {% render_field form.series class="page-title header-item edit-field form-control" %}
                <span class="header-item separator" style="margin-left:1rem;margin-right:1.5rem;">: </span>
            </div>
        </div>
        <div class="form-inline" style="flex-wrap:nowrap">
            <div class="form-group">
                <span class="header-item separator"
                    style="padding-left:0rem;padding-right:2rem;margin-left:1rem;margin-right:1.5rem;"></span>
                {% render_field form.title class="object-name header-item edit-field form-control" style="width:300px;font-size:29px;" %}
                {% render_field form.status class="header-item edit-field form-control" %}
                <span class="header-item separator" style="margin-left:1.5rem;margin-right:1.5rem;"> / </span>
                <label class="header-item" id="breadcrumb" for="{{ form.title.auto_id }}">Artwork</label>
            </div>
            <div class="form-group">
                <input type="submit" id="detail-submit" class="header-action action-button btn"
                    value="{{ action_name }}">
            </div>
        </div>
    </div>
    <div class="row mx-auto" id="artwork-details-wrapper" style="max-width:999px;">
        <div class="col-6" style="padding:0px;display:flex;align-items:center;flex-direction:column">
            <div id="artwork-image" class="card">
                <div class="card-body">
                    <div style="height:405px;">
                        {% if form.instance.image %}
                        <div class="bounding-box" id="id_image"
                            style="background-image:url('{{ form.instance.image.url }}')"></div>
                        {% else %}
                        <div class="bounding-box" id="id_image" style="background-color:darkgrey;"></div>
                        {% endif %}
                    </div>
                    <label for="id_image" class="action-button btn hidden-file-upload-label">
                        Upload Image
                    </label>
                    {% render_field form.image class="hidden-file-upload action-button" onchange="loadFile(event)" %}
                    <script>
                        var loadFile = function (event) {
                            let pathToImage = URL.createObjectURL(event.target.files[0]);
                            $("#id_image").replaceWith(
                                `<div class="bounding-box" id="id_image" style="background-image:url(${pathToImage})"></div>`
                            )
                        };
                    </script>
                </div>
            </div>
            <div id="sales-info" class="card">
                <div class="card-body sale-form">
                    <h3 class='card-title'>Sale Info</h3>
                    <div class="details-list form-inline">
                        {% include "catalogue/utils/field.html" with field=form.owner %}
                        {% include "catalogue/utils/field.html" with field=form.sold_by %}
                        {% include "catalogue/utils/field.html" with field=form.price_nis %}
                        {% include "catalogue/utils/field.html" with field=form.price_usd %}
                        {% include "catalogue/utils/field.html" with field=form.sale_currency %}
                        {% include "catalogue/utils/field.html" with field=form.sale_price %}
                        {% include "catalogue/utils/field.html" with field=form.discount %}
                        {% include "catalogue/utils/field.html" with field=form.sale_date %}
                    </div>
                </div>
            </div>
        </div>
        <div class="col-6" style="padding:0px;display:flex;align-items:center;flex-direction:column">
            <div id="artwork-details" class="card">
                <div class="card-body">
                    <h3 class="card-title">Details</h3>
                    <div id="object-details-body" class="details-list form-inline">
                        <!-- NOTE: year field used to have artwork-year class -->
                        {% include "catalogue/utils/field.html" with field=form.year %}
                        {% include "catalogue/utils/field.html" with field=form.size %}
                        {% include "catalogue/utils/field.html" with field=form.location %}
                        {% include "catalogue/utils/field.html" with field=form.rolled %}
                        {% include "catalogue/utils/field.html" with field=form.framed %}
                        {% include "catalogue/utils/field.html" with field=form.medium %}
                        <label for="size-fields-measures">Size ( h w d ):</label>
                        <div id="size-field-measures" style="margin-top:-0.5rem;">
                            <div id="size-fields-in" class="form-group" style="display:flex;">
                                <div id="id_size_in" class="size-field-container">
                                    {% render_field form.height_in class="size-field edit-field" %}
                                    <span class="size-field-separator">x</span>
                                    {% render_field form.width_in class="size-field edit-field" %}
                                    <span class="size-field-separator">x</span>
                                    {% render_field form.depth_in class="size-field edit-field" %}
                                </div>
                                <label for="id_size_in">in</label>
                            </div>
                            <div id="size-fields-cm" class="form-group" style="display:flex;">
                                <div id="id_size_cm" class="size-field-container">
                                    {% render_field form.height_cm class="size-field edit-field" %}
                                    <span class="size-field-separator">x</span>
                                    {% render_field form.width_cm class="size-field edit-field" %}
                                    <span class="size-field-separator">x</span>
                                    {% render_field form.depth_cm class="size-field edit-field" %}
                                </div>
                                <label for="id_size_cm">cm</label>
                            </div>
                        </div>
                        {% include "catalogue/utils/field.html" with field=form.additional ungroup=True %}
                    </div>
                </div>
            </div>
            {% if edit_mode %}
            <div id="exhibitions" class="card">
                <div class="card-body">
                    <h3 class="card-title">All Exhibitions</h3>
                    <div class="form-inline" id="add-work-to-exhibition">
                        <select class="collapse" id="workinexhibition-artwork">
                            <option value="{{ object.pk }}" selected=""></option>
                        </select>
                        {% render_field exhibitionForm.exhibition class="form-control" id="workinexhibition-exhibition" %}
                        <button type="button" class="btn btn-primary btn-sm" id="new-exhibition-submit">Add new</button>
                    </div>
                    <ul id="workinexhibition-form-errors"></ul>
                    <table class="table table-striped table-hover" id="related-exhibitions">
                    </table>

                </div>
            </div>
            {% endif %}
        </div>
    </div>
</form>
<form class="collapse" action="{% url 'catalogue:add_workinexhibition' %}" method="POST" id="workinexhibition-form">
    {% csrf_token %}
</form>
{% endblock object_details %}

{% block related_items %}
{% endblock %}