{% extends "base.html" %}
{% load widget_tweaks %}

{% block custom_headers %}
<script>
    $(document).ready(function () {

        let field_id;
        let placeholder;
        {% for field in form %}
        {% if field.field.widget.input_type == "select" %}

        field_id = "{{ field.auto_id }}";
        placeholder = "{{ field.field.placeholder }}";
        $("#" + field_id).select2({
            "placeholder": placeholder,
        });
        {% endif %}
        {% endfor %}
    });
</script>
{% if edit_mode %}
<style>
    .edit-field {
        background: transparent;
        vertical-align: middle;
        border: none;
        box-shadow: none;
    }

    .edit-field:focus {
        background-color: #ffffff;
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    }

    #object-details .select2-container .select2-selection--single,
    #object-details .select2-container--default .select2-selection--single .select2-selection__rendered,
    #object-details .select2-container--default .select2-selection--single .select2-selection__arrow {
        background-color: rgb(235, 235, 228);
        border: none;
    }

    .details-list .form-group {
        height: 1.8rem;
    }

    .details-list .ungroup {
        height: unset;
    }
</style>
{% endif %}
{% endblock custom_headers %}

{% block content %}
<div id="object-details" class="section">
    {% block object_details %}
    <form action="" method="post">
        {% csrf_token %}
        <div id="page-header" class="form-inline">
            <div class="form-group">
                {% render_field form.name class="page-title object-name header-item edit-field form-control" %}
                <span class="header-item separator" style="margin-left:1.5rem;margin-right:1.5rem;"> / </span>
                <label class="header-item" id="breadcrumb"
                    for="{{ form.name.auto_id }}">{% block breadcrumb %}{% endblock breadcrumb %}</label>
            </div>
            <input type="submit" id="detail-submit" class=" header-action action-button btn" value="{{ action_name }}">
        </div>
        <div id="object-details-body" class="details-list form-inline">
            {% for field in form.visible_fields %}
            {% ifnotequal field.label form.name.label %}
            {% if field.field.widget.input_type == None %}
            {% include "catalogue/utils/field.html" with field=field ungroup=True %}
            {% else %}
            {% include "catalogue/utils/field.html" with field=field %}
            {% endif %}
            {% endifnotequal %}
            {% endfor %}
        </div>
    </form>
    {% endblock object_details %}
</div>
{% if edit_mode %}
{% block related_items %}
<div id="related-items" class="section">
        <div id="related-search-wrapper">
            <h3 class="related-items-header">{%  block related_items_header %}{% endblock %}</h3>
            {% include 'catalogue/search/search_bar.html' with artwork_search_form=artwork_search_form location_search_form=location_search_form exhibition_search_form=exhibition_search_form %}
            {% include 'catalogue/search/search_results.html' with object_list=search_results %}
        </div>
    </div>
</div>
{% endblock related_items %}
{% endif %}
{% endblock content %}