{% extends "base.html" %}
{% load widget_tweaks %}

{% block content %}
<div id="object-details" class="row">
    {% block object_details %}
    <form action="" method="post">
        {% csrf_token %}
        <div id="page-header" class="form-inline">
            <div class="form-group">
                {% render_field form.name class="object-details-header edit-field form-control rounded-0" %}
                <span class="object-details-header separator" style="margin-left:1.5rem;margin-right:1.5rem;">  /  </span>
                <label class="object-details-header"
                    for="{{ form.name.auto_id }}">{% block breadcrumb %}{% endblock breadcrumb %}</label>
            </div>
            <input type="submit" id="detail-submit" class="action-button btn btn-primary rounded-0" value="{{ action_name }}">
        </div>
        <div id="object-details-body" class="details-list form-inline">
            {% for field in form.visible_fields %}
            {% ifnotequal field.label form.name.label %}
            <div class="form-group">
                {{ field.label_tag }}
                {% render_field field class="edit-field form-control rounded-0" placeholder=field.name %}
                {% if field.help_text %}
                <small class="form-text text-muted">{{ field.help_text }}</small>
                {% endif %}
            </div>
            {% endifnotequal %}
            {% endfor %}
        </div>
    </form>
    {% endblock object_details %}
</div>
<div id="related-items" class="row">
    <h3 class="related-items-header">{%  block related_items_header %}{% endblock %}</h3>
    {% block related_items %}
    {% endblock related_items %}
</div>
{% endblock content %}