{% extends "base.html" %}
{% load widget_tweaks %}

{% block custom_headers %}
{% if edit_mode %}
<style>
    .edit-field {
        background: transparent;
        vertical-align: middle;
    border: none;
    box-shadow: none;
}

.edit-field:focus {
    background-color: #ffffff;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
}

#object-details .select2-container .select2-selection--single, #object-details .select2-container--default .select2-selection--single .select2-selection__rendered, #object-details .select2-container--default .select2-selection--single .select2-selection__arrow {
    background-color: rgb(235, 235, 228);
    border: none;
}

</style>
{% endif %}
{% endblock custom_headers %}

{% block content %}
<div id="object-details" class="section">
    {% block object_details %}
    <form action="" method="post">
        {% csrf_token %}
        <div id="page-header" class="form-inline">
            <div class="form-group">
                {% render_field form.name class="object-name header-item edit-field form-control" %}
                <span class="header-item separator" style="margin-left:1.5rem;margin-right:1.5rem;"> / </span>
                <label class="header-item" id="breadcrumb"
                    for="{{ form.name.auto_id }}">{% block breadcrumb %}{% endblock breadcrumb %}</label>
            </div>
            <input type="submit" id="detail-submit" class=" header-action action-button btn btn-primary"
                value="{{ action_name }}">
        </div>
        <div id="object-details-body" class="details-list form-inline">
            {% for field in form.visible_fields %}
            {% ifnotequal field.label form.name.label %}
            <div class="form-group">
                {{ field.label_tag }}
                {% render_field field class="edit-field form-control" placeholder=field.name %}
                {% if field.help_text %}
                <small class="form-text text-muted">{{ field.help_text }}</small>
                {% endif %}
            </div>
            {% endifnotequal %}
            {% endfor %}
        </div>
    </form>
    {% endblock object_details %}
</div>
{% if edit_mode %}
<div id="related-items" class="section">
    <h3 class="related-items-header">{%  block related_items_header %}{% endblock %}</h3>
    {% block related_items %}
    {% endblock related_items %}
</div>
{% endif %}
{% endblock content %}