{% extends "catalogue/detail/detail.html" %}

{% block breadcrumb %}Location{% endblock %}

{% block related_items %}
<div id="related-items" class="section">
    <div id="related-search-wrapper">
        <h3 class="related-items-header">{%  block related_items_header %}Artworks in Location{% endblock %}</h3>
        {% include 'catalogue/search/search_bar.html' with artwork_search_form=artwork_search_form location_search_form=location_search_form exhibition_search_form=exhibition_search_form %}
        {% include 'catalogue/search/elm_search_results.html' with object_list=search_results %}
    </div>
</div>
</div>
{% endblock related_items %}