{% extends "list.html" %}
{% load static %}

{% block page_name %}
<h3>Artwork List</h3>
{% endblock page_name %}

{% block create_url %}'{% url 'artwork_add' %}'{% endblock %}

{% block list_content %}
<tr>
    <th></th>
    <th>Series</th>
    <th>Title</th>
    <th>Location</th>
    <th>Size</th>
</tr>
{% for artwork in object_list %}
<tr>
    <td>
        <a href="{% url 'artwork_detail' artwork.pk %}">
            {% if artwork.image %}
            <img class="img-fluid" style="width: 80px; object-fit: contain;" src="{{ artwork.image.url }}"
                alt="Artwork image">
            {% else %}
            <img class="img-fluid" style="width: 80px; object-fit: contain;"
                src="{% static 'catalogue/images/unicorn.png' %}" alt="Artwork image">
            {% endif %}
        </a>
    </td>
    <td><a href="{% url 'series_detail' artwork.series.pk %}">{{ artwork.series }}</a></td>
    <td><a href="{% url 'artwork_detail' artwork.pk %}">{{ artwork.title }}</a></td>
    <td><a href="{% url 'location_detail' artwork.location.pk %}">{{ artwork.location }}</a></td>
    <td>{{ artwork.size }}</td>
</tr>
{% endfor %}
{% endblock %}