{% load widget_tweaks %}
{% load static %}

<div id="search-bar-wrapper">
    <div id="search-bar-main-container" style="width:max-content">

        <div id="search-bar-main" class="form-inline">
            <div class="form-group {% if hasSeries %}collapse{% endif %}">
                {% render_field artwork_search_form.series class="form-control search-artwork-details" %}
            </div>
            <div class="form-group">
                {% render_field artwork_search_form.title class="form-control search-artwork-details" %}
            </div>
            <div class="form-group">
                {% render_field artwork_search_form.size class="form-control search-artwork-details" %}
            </div>
            <div class="form-group {% if hasLocation %}collapse{% endif %}">
                {% render_field artwork_search_form.location id="id_location_search" class="form-control search-artwork-details" %}
            </div>
            <div class="form-group">
                {% render_field artwork_search_form.status class="form-control search-artwork-details" %}
            </div>
            <form action="" method="GET" id="search-form">
                <button type="submit" id="search-submit-form" class="action-button btn">
                    <div id="search-submit-button-contents" style="display:flex;justify-content:space-evenly;">
                        <span>Search</span>
                        <span>
                            <img src="{% static 'images/search-13-256.ico' %}" style="height:20px;margin-top:-6px;" alt=" ">
                        </span>
                    </div>
                </button>
            </form>
        </div>
        <div class="form-group" style="display:flex">
            <span id="search-show-more" class="search-show-more collapsed" data-toggle="collapse"
                data-target="#search-bar-more" aria-expanded="false" aria-controls="search-bar-more"></span>
            <span id="clear-search" style="margin-left:auto;"><a href="{{ request.path }}"
                    class="search-show-more">Clear Search</a></span>
        </div>
    </div>
    <div id="search-bar-more" class="form collapse">
        <div class="form-row search-show-more-row">
            <div class="form-group col-6">
                {{ artwork_search_form.year.label_tag }}
                {% render_field artwork_search_form.year class="form-control search-artwork-details" %}
            </div>
            <div id='search-exhibition-details' class='form-group col-6 {% if hasExhibition %}collapse{% endif %}'>
                {{ exhibition_search_form.exhibition.label_tag }}
                {% render_field exhibition_search_form.exhibition class="form-control" style="width:100%;" %}
            </div>
        </div>
        <div class="form-row search-show-more-row" style="border-bottom:1px solid #cccccc;">
            <div class="form-group col-6">
                {{ artwork_search_form.owner.label_tag }}
                {% render_field artwork_search_form.owner class="form-control search-artwork-details" %}
            </div>
            <div class="form-group col-6">
                {{ artwork_search_form.medium.label_tag }}
                {% render_field artwork_search_form.medium class="form-control search-artwork-details" %}
            </div>
        </div>
        <div id='search-location-details' class="{% if hasLocation %}collapse{% endif %}">
            <span>Location Details</span>
            <div class="form-row search-show-more-row">
                <div class="form-group col-12">
                    {{ location_search_form.name.label_tag }}
                    {% render_field location_search_form.name class="form-control" %}
                </div>

            </div>
            <div class="form-row search-show-more-row">
                <div class="form-group col-8">
                    {{ location_search_form.address_1.label_tag }}
                    {% render_field location_search_form.address_1 class="form-control" %}
                </div>
                <div class="form-group col-4">
                    {{ location_search_form.zip_code.label_tag }}
                    {% render_field location_search_form.zip_code class="form-control" %}
                </div>
            </div>
            <div class="form-row search-show-more-row">
                <div class="form-group col-4">
                    {{ location_search_form.city.label_tag }}
                    {% render_field location_search_form.city class="form-control" %}
                </div>
                <div class="form-group col-4">
                    {{ location_search_form.state.label_tag }}
                    {% render_field location_search_form.state class="form-control" %}
                </div>
                <div class="form-group col-4">
                    {{ location_search_form.country.label_tag }}
                    {% render_field location_search_form.country class="form-control" %}
                </div>
            </div>
        </div>
    </div>
</div>