{% load widget_tweaks %}

<div id="search-bar-wrapper">
    <div id="search-bar-main" class="form-inline">
        <div class="form-group {% if hasSeries %}collapse{% endif %}">
            {% render_field artwork_search_form.series class="form-control rounded-0 search-artwork-details" %}
        </div>
        <div class="form-group">
            {% render_field artwork_search_form.title class="form-control rounded-0 search-artwork-details" %}
        </div>
        <div class="form-group">
            {% render_field artwork_search_form.size class="form-control rounded-0 search-artwork-details" %}
        </div>
        <div class="form-group {% if hasLocation %}collapse{% endif %}">
            {% render_field artwork_search_form.location id="id_location_search" class="form-control rounded-0 search-artwork-details" %}
        </div>
        <div class="form-group">
            {% render_field artwork_search_form.status class="form-control rounded-0 search-artwork-details" %}
        </div>
        <form action="" method="GET" id="search-form">
            <button type="submit" id="search-submit-form" class="action-button btn btn-primary rounded-0">Search</button>
        </form>
    </div>
    <div class="form-group">
        <span id="search-show-more" class="collapsed" data-toggle="collapse" data-target="#search-bar-more"
            aria-expanded="false" aria-controls="search-bar-more"></span>
    </div>
    <div id="search-bar-more" class="form collapse">
        <div class="form-row search-show-more-row">
            <div class="form-group col-6">
                {{ artwork_search_form.year.label_tag }}
                {% render_field artwork_search_form.year class="form-control rounded-0 search-artwork-details" %}
            </div>
            <div id='search-exhibition-details' class='form-group col-6 {% if hasExhibition %}collapse{% endif %}'>
                {{ exhibition_search_form.exhibition.label_tag }}
                {% render_field exhibition_search_form.exhibition class="form-control rounded-0" style="width:100%;" %}
            </div>
        </div>
        <div class="form-row search-show-more-row" style="border-bottom:1px solid #cccccc;">
            <div class="form-group col-6">
                {{ artwork_search_form.owner.label_tag }}
                {% render_field artwork_search_form.owner class="form-control rounded-0 search-artwork-details" %}
            </div>
            <div class="form-group col-6">
                {{ artwork_search_form.medium.label_tag }}
                {% render_field artwork_search_form.medium class="form-control rounded-0 search-artwork-details" %}
            </div>
        </div>
        <div id='search-location-details' class="{% if hasLocation %}collapse{% endif %}">
            <span>Location Details</span>
            <div class="form-row search-show-more-row">
                <div class="form-group col-12">
                    {{ location_search_form.name.label_tag }}
                    {% render_field location_search_form.name class="form-control rounded-0" %}
                </div>

            </div>
            <div class="form-row search-show-more-row">
                <div class="form-group col-8">
                    {{ location_search_form.address_1.label_tag }}
                    {% render_field location_search_form.address_1 class="form-control rounded-0" %}
                </div>
                <div class="form-group col-4">
                    {{ location_search_form.zip_code.label_tag }}
                    {% render_field location_search_form.zip_code class="form-control rounded-0" %}
                </div>
            </div>
            <div class="form-row search-show-more-row">
                <div class="form-group col-4">
                    {{ location_search_form.city.label_tag }}
                    {% render_field location_search_form.city class="form-control rounded-0" %}
                </div>
                <div class="form-group col-4">
                    {{ location_search_form.state.label_tag }}
                    {% render_field location_search_form.state class="form-control rounded-0" %}
                </div>
                <div class="form-group col-4">
                    {{ location_search_form.country.label_tag }}
                    {% render_field location_search_form.country class="form-control rounded-0" %}
                </div>
            </div>
        </div>
    </div>
</div>