<div class="table-responsive">
    <table class="{% if overview_mode %}overview-table{% endif %} table table table-striped table-hover"
        id="searchResults">
        <caption>List of Exhibitions</caption>
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Location</th>
                <th scope="col">Start date</th>
                <th scope="col">End date</th>
                <th scope="col"># Works</th>
            </tr>
        </thead>
        <tbody>
            {% for exhibition in object_list %}
            <tr onclick="window.location.href='{{ request.scheme }}://{{ request.get_host }}{% url 'catalogue:exhibition_detail' exhibition.pk %}'"
                style="cursor:pointer">
                <td>{{ exhibition.name }}</td>
                <td>{{ exhibition.location.name }}</td>
                <td>{{ exhibition.start_date }}</td>
                <td>{{ exhibition.end_date }}</td>
                <td>{{ exhibition.count }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>