<div class="table-responsive">
    <table class="{% if overview_mode %}overview-table{% endif %} table table-striped table-hover" id="searchResults">
        <caption>List of Locations</caption>
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">City</th>
                <th scope="col">State</th>
                <th scope="col">Country</th>
                <th scope="col">Address</th>
                <th scope="col">Zip</th>
            </tr>
        </thead>
        <tbody>
            {% for location in object_list %}
            <tr onclick="window.location.href='{{ request.scheme }}://{{ request.get_host }}{% url 'catalogue:location_detail' location.pk %}'"
                style="cursor:pointer">
                <td>{{ location.name }}</td>
                <td>{{ location.city }}</td>
                <td>{{ location.state }}</td>
                <td>{{ location.country }}</td>
                <td>{{ location.address_1 }}</td>
                <td>{{ location.zip_code }}</td>
                <td>{{ location.city }}</td>
                <td>{{ location.country }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>