/* *** Font Definitions *** */


@font-face {
    font-family: 'Brandon Grotesque Regular';
    font-display: swap;
    src: local('Brandon Grotesque Regular'),url("/static/fonts/hvd_fonts_-_brandongrotesque-regular.otf") format("opentype");
}
@font-face {
    font-family: 'Brandon Grotesque Black';
    font-style: normal;
    font-weight: normal;
    src: local('Brandon Grotesque Black'), url('/static/fonts/brandon-grotesque-black-58a8a3e824392.woff') format('woff');
}
@font-face {
    font-family: 'Brandon Grotesque Bold';
    font-style: normal;
    font-weight: normal;
    src: local('Brandon Grotesque Bold'), url('/static/fonts/brandon-grotesque-bold-587bd6400afd0.woff') format('woff');
}
@font-face {
    font-family: 'Brandon Grotesque Bold Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Brandon Grotesque Bold Italic'), url('/static/fonts/brandon-grotesque-bold-italic-58a8a48221563.woff') format('woff');
}
@font-face {
    font-family: 'Brandon Grotesque Light';
    font-style: normal;
    font-weight: normal;
    src: local('Brandon Grotesque Light'), url('/static/fonts/brandon-grotesque-light-58a8a4b38001d.woff') format('woff');
}
@font-face {
    font-family: 'Brandon Grotesque Light Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Brandon Grotesque Light Italic'), url('/static/fonts/brandon-grotesque-light-italic-58a8a4ccb88be.woff') format('woff');
}
@font-face {
    font-family: 'Brandon Grotesque Medium';
    font-style: normal;
    font-weight: normal;
    src: local('Brandon Grotesque Medium'), url('/static/fonts/brandon-grotesque-medium-587bd623e472a.woff') format('woff');
}
@font-face {
    font-family: 'Brandon Grotesque Medium Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Brandon Grotesque Medium Italic'), url('/static/fonts/brandon-grotesque-medium-italic-58a8a3c40866a.woff') format('woff');
}
@font-face {
    font-family: 'Brandon Grotesque Regular Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Brandon Grotesque Regular Italic'), url('/static/fonts/brandon-grotesque-regular-italic-58a8a456c4724.woff') format('woff');
}
@font-face {
    font-family: 'Brandon Grotesque Thin';
    font-style: normal;
    font-weight: normal;
    src: local('Brandon Grotesque Thin'), url('/static/fonts/brandon-grotesque-thin-587bd5b76cfba.woff') format('woff');
}
@font-face {
    font-family: 'Brandon Grotesque Thin Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Brandon Grotesque Thin Italic'), url('/static/fonts/brandon-grotesque-thin-italic-58a8a3a8861fe.woff') format('woff');
}

/* -------------------------------------- */

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    font-size: 16px;
    font-family: "Brandon Grotesque Light", Arial, Helvetica, sans-serif;
    background-color: rgb(235, 235, 228);
}

label {
    color: #495057;
}

.form-control {
    color: #212529;
 
}
/* pallete:
rgb(227,117,70)
rgb(113,114,110)

rgb(235,235,228)
rgb(222,222,212)
rgb(70,71,76)
rgb(96, 124, 160) */

/* -------------------------------------- */

/* **** Layout For All Pages **** */

#wrapper {
    display: flex;
    width: 100%;
    flex: 1 1 auto;
    flex-direction: row;
    /* align-items: stretch; */
    /* padding-left: 160px; */
    /* transition: all 0.3s ease 0s; */
}

.sidebar {
    /* flex for sidebar items */
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: stretch;
    min-width: 160px;
    max-width: 160px;
    overflow: auto;
    /* other */
    background-color: rgb(222, 222, 212);
}

/* Sidebar header */

#sidebar-header {
    width:100%;
    display:flex;
    flex-direction:column;
    align-items:center;
}
#sidebar-header img {
    display: block;
    height: 40px;
}

/* Sidebar links */

.sidebar-row {
    box-sizing: border-box;
    height: 27px;
    margin: 16px;
}

.sidebar-link {
    color: #212529;
    font-size: 17px;
    text-decoration: none;
}
/* Active/current link */

.sidebar .sidebar-hover-highlight:hover:not(.active) {
    /* background-color: #555; */
    color: whitesmoke;
    /* color: white; */
    font-size: 18px;
    transition: all 0.2s ease 0s;
}

/* Page content. The value of the margin-left property should match the value of the sidebar's width property */

#main-page {
    padding: 0;
}

#main-page-body {
    width: 100%;
    display:flex;
    justify-content: space-between;
}
/* -------------------------------------- */

/*  *** UTILS - components reused across the project *** */

.section {
    width: 100%;
    margin-top: 15px;
}

.center-block {
    width: 999px;
    margin-left: auto !important;
    margin-right: auto !important;
}

.form-group {
    margin-bottom: 0.6rem;
}

.form-inline label {
    padding: 0.5rem;
}

/* all form elements are rectangular */

.form-control {
    border-radius: 0 !important;
}

button, .btn {
    color: whitesmoke;
    background-color: rgba(44, 45, 52, 1);
    border: solid rgba(44, 45, 52, 1) 0px;
    border-radius: 0 !important;
}

/* non rounded select2 elements */

[class^='select2'] {
    border-radius: 0px !important;
}

.action-button {
    width: 120px;
}

.action-button:hover, .btn:hover {
    background-color: slategrey;
    border-color: slategrey;
    color: white;
}

.action-button:active, .action-button:focus, .btn:active, .btn:focus, .btn.focus {
    background-color: white;
    border-color: slategrey;
    color: slategrey;
    box-shadow: 0 0 0 .1rem lightgray;
}

h1, h2, h3, h4, h5, h6, label, th {
    font-weight: 200;
}

h3 {
    font-size: 21px;
}

/* -------------------------------------- */

/* *** Page Header CSS *** */

#page-header {
    flex-wrap: nowrap;
    margin-bottom: 1.2rem;
    font-size: 2rem;
}

.page-title.header-item{
    font-size: 32px;
}

.header-item {
    font-size: 21px;
    /* color: #2C2D34; */
    height: min-content;
    padding-top: 0rem;
    padding-bottom: 0rem;
}

#breadcrumb {
    font-size:21px;
}
#page-header label, #page-header .separator {
    color: darkgray;
}

/* for selects in object details header */


#page-header .select2-container .select2-selection--single, #page-header .select2-container--default .select2-selection--single .select2-selection__rendered, #page-header .select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 3rem;
    line-height: 3rem;
    font-size: 21px;
}
#series-select .select2-container .select2-selection--single, #series-select .select2-container--default .select2-selection--single .select2-selection__rendered, #series-select .select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 3rem;
    line-height: 3rem;
    font-size: 2rem;
}
.object-name {
    padding-left: 0.3rem;
}

.header-action {
    margin-left: 8rem;
}
/* -------------------------------------- */

/* *** Search Bar CSS *** */

#search-bar-wrapper {
    width: 100%;
    margin: 0 auto;
}

#search-bar-wrapper label {
    font-size: 14px;
}

#search-bar-main {
    display: flex;
    flex-wrap: nowrap;
    width: min-content;
}

#search-bar-main .form-group {
    margin-right: 0.5rem;
}

.search-show-more {
    color: #0080C6;
    cursor: pointer;
}

#search-show-more:before {
    content: '-Basic Search';
}

#search-show-more.collapsed:before {
    content: '+Advanced Search';
}

.search-show-more-row {
    border-bottom: 1px solid #cccccc;
}

#search-bar-more .form-group {
    margin-right: 10px;
}

.select2-container .select2-selection--single, .select2-container--default .select2-selection--single .select2-selection__rendered, .select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 40px;
    line-height: 40px;
}

#search-bar-wrapper .form-control {
    height: 40px;
}

#search-bar-wrapper .btn {
    height: 40px;
}

/* -------------------------------------- */

/* *** Table specs for searchResults *** */

#searchResults td {
    font-size: 15px;
    vertical-align: middle;
}

.overview-table {
    border: 2px solid #ccc;
}

/* Hide caption for search results table */

caption {
    visibility: collapse;
}

/* -------------------------------------- */

/* *** Gallery List layout *** */

.gallery-list {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.gallery-item-wrapper {
    height: 293px;
    width: 293px;
    margin: 20px;
    /* z-index: 10; */
}

a.gallery-item-wrapper:link, a.gallery-item-wrapper:visited, a.gallery-item-wrapper:link:active, a.gallery-item-wrapper:visited:active {
    color: rgb(44, 45, 52);
}

.gallery-item-image {
    height: 293px;
    width: 293px;
    overflow: hidden;
    position: relative;
    z-index: 10;
}

.gallery-bounding-box {
    /* background-image: url(...); -- will fill in inline: */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
  }

.gallery-item-hover {
    visibility: hidden;
    z-index: 20;
    margin-top: -293px;
    background: rgb(256, 256, 256);
    background: rgba(256, 256, 256, 0.65);
    position: absolute;
    width: inherit;
    height: inherit;
}

.gallery-item-wrapper:hover .gallery-item-hover {
    visibility: visible;
}

.gallery-item-title {
    font-size:29px;
    line-height: 36px;
    text-align: center;
    /* font: normal normal normal 29px/36px "Brandon Grotesque Regular", sans-serif; */
}

.gallery-item-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

ul.gallery-item-text {
    list-style-type: none;
    padding: 0px;
}

/* -------------------------------------- */
/* Pagination */

.pagination {
    width: max-content;
}
.pagination li {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}
/* -------------------------------------- */

/* ***  Object Details layout *** */

#object-details-body .form-control {
    padding: 0.3rem;
    height: 1.5rem;
}

#object-details-body textarea.form-control {
    line-height: 1.5rem;
    height: 2rem;
    resize: none;
    overflow: hidden;
}

#object-details-body label {
    padding: 0.3rem;
}

#object-details-body .select2-container .select2-selection--single, #object-details-body .select2-container--default .select2-selection--single .select2-selection__rendered, #object-details-body .select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 1.5rem;
    line-height: 1.5rem;
}

/* #object-details-body .select2-container--default .select2-selection--single {
    min-width: 8rem;
} */

.details-list {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: start;
}

/* -------------------------------------- */

/* *** Related Items layout *** */

.related-items-header {
    margin-left: 0.3rem;
    margin-right: 0.3rem;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
}

#related-search-wrapper {
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 0.25rem;
    box-sizing: border-box;
    padding: 10px;
    width: 1019px;
    max-width: 2000px;
    margin-left: -10px;

}

/* -------------------------------------- */

/* *** Artwork Detail layout *** */

.form-control-sm {
    font-size: 1rem;
}

.card {
    background-color: transparent;
    max-width: 560px;
    width: calc(100% - (2 * 1.8rem));
    margin: 1.8rem;
    margin-top: 1rem;
    box-sizing: border-box;
    min-width: 400px;
    height: max-content;
}

.bounding-box {
    /* background-image: url(...); -- will fill in inline: */
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
  }
/* #artwork-year {
    -webkit-appearance: textfield;
    width: 4.5rem;
} */

/* Artwork Detail size fields */

.form-inline.size-form-group {
    display: flex;
    flex-wrap: nowrap;
}

.size-form-group>label {
    padding: 0.5rem;
}

.size-field-container {
    padding-left:1.5rem;
    /* color: gray;
    display: inline-flex;
    align-items: center;
    width: min-content;
    overflow-x: auto;
    white-space: nowrap;
    padding: 0.25rem; */
}

.size-field {
    width: 2rem;
    min-width: 1rem;
    -webkit-appearance: textfield;
    text-align: start;
    background: transparent;
    border: none;
    box-shadow: none;
    border-radius: 0
}

#size-fields-addtl {
    justify-content: end;
}

.hidden-file-upload {
    position: relative;
    z-index: 20;
    opacity: 0;
    margin-top: 6px;
}

.hidden-file-upload-label {
    position: absolute;
    z-index: 10;
}

/* Exhibitions list */

#add-work-to-exhibition {
    display: flex;
}

#new-exhibition-select {
    flex: 7 1 auto;
}

#new-exhibition-submit {
    flex: 1 1 auto;
}

/* Swipe actions in artwork detail */

.swipe-action {
    cursor: pointer;
    position:fixed;
    top: 0;
    min-width:50px;
    max-width: 120px;
    width: 6%;
    z-index:2;
    transition: 0.6s ease;
    height: 100vh;
    display:flex;
    justify-content: center;
    align-items: center;
    color: #212529;
    user-select: none;
    text-align:center;
    font-size:32px;
    text-decoration: none;
}

.swipe-action:hover{
    background-color: rgba(112, 128, 144, 0.3);
    color: rgb(240,240,240);
    text-decoration:none;
    font-size:34px;
}

.swipe-action:active {
    background-color: #212529;
    color: white;
    text-decoration: none;
    transition: 0.2s ease;
}

#left-action-left {
    left: 0;
}

#right-swipe-action {
    right: 0;
}


.swipe-action-icon {
    height:50px;
    width:50px;
    /* z-index:2; */
}

/* -------------------------------------- */

/* *** OTHER *** */

/* TEXTAREA AUTO RESIZE STYLES BEGIN */

/* The .hiddendiv styles are added with JS.
   You can remove the JS lines and use CSS instead
.hiddendiv {
  display: none;
  white-space: pre-wrap;
  word-wrap: break-word;
}*/

/* the styles for 'txta' are applied to both the textarea and the hidden clone */

/* these must be the same for both */

.txtarea-hidden-div {
    width: 100%;
    /* max-width: 500px; */
    /* min-height: 100px; */
    /* font-family: Arial, sans-serif; */
    font-size: 1rem;
    overflow: hidden;
    line-height: 1.5rem;
    padding: 0.3rem;
}

/* TEXTAREA AUTO RESIZE STYLES END */

/* -------------------------------------- */

/*  *** Sizing *** */


/* website-sizes{
    splash-header: 70px;
    splash-subtext: 21px;
    nabvar: 17px;
    exhibitoin-body-text: 18px;
    exhibition-materials: 15px;
    series-body-text: 17px;
    gallery-non-header: 11px;
    gallery-expanded: 18px;
    main-page-works: 40px;
    h5-main-page-series-header: 32px;
    main-page-series-subheader: 21px italic;
    main-page-series-body: 18px;
    main-page-series-link: 19px;
    subscribe-form-submit: 4px;
    subscribe-form-input: 14px;
}

form-implementation{
    div - no shape, just margin to one beneath
        div label - display: none;
        input centered - margin 8px, font size 14px; width height 100%;

    button {
        border-radius 0, 
        background-color: rgba(44,45,52,1) !important;
        border-color: rgba(255,255,255,1);
        border-width: 0px;
        color: rgba(238,238,238,1);
        font: normal normal normal 14px/1.4em brandon-grot-w01-light,sans-serif;
        }
        span - for text {
            .subscribe-button {
                color: 
                rgba(238,238,238,1);
                font: normal normal normal 14px/1.4em brandon-grot-w01-light,sans-serif;
            }
        }
    gallery: use background-image, specify size. images are cropped
}

form-control {
    color: #495057;
}
body {
    color: #212529;
} */