body {
    font-size: 16px;
    font-family: brandon-reg, Arial, Helvetica, sans-serif;
    background-color: rgb(235, 235, 228);
}

/* pallete:
rgb(227,117,70)
rgb(113,114,110)

rgb(235,235,228)
rgb(222,222,212)
rgb(70,71,76)
rgb(96, 124, 160) */

/* -------------------------------------- */

/* **** Layout For All Pages **** */

#wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
    /* padding-left: 160px; */
    /* transition: all 0.3s ease 0s; */
}

.sidebar {
    /* flex for sidebar items */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: stretch;
    min-width: 160px;
    max-width: 160px;
    overflow: auto;
    /* other */
    background-color: rgb(222, 222, 212);
}

/* Sidebar header */

.sidebar-header img {
    display: block;
    height: 40px;
}

/* Sidebar links */

.sidebar a {
    box-sizing: border-box;
    height: 27px;
    color: black;
    margin: 16px;
    text-decoration: none;
    font-size: 18px;
}

/* Active/current link */

.sidebar .nav-link:hover:not(.active) {
    /* background-color: #555; */
    color: white;
    font-size: 19px;
    transition: all 0.2s ease 0s;

}

/* Page content. The value of the margin-left property should match the value of the sidebar's width property */

#main-page {
    padding: 0;
}


/* .page-header {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    margin-bottom: 1rem;
} */

#object-details {
    width: 100%;
    margin: 15px;
    flex-direction: column;
}
#related-items {
    width: 100%;
    margin: 15px;
    flex-direction: column;
}


.center-block {
    width: 999px;
    margin-left: auto !important;
    margin-right: auto !important;
}

.gallery-list {
    display:flex;
    justify-content:flex-start;
    flex-wrap:wrap;
}
/* -------------------------------------- */

/* *** Search Bar CSS *** */


#search-bar-wrapper {
    width: 100%;
    max-width: 923px;
    margin: 0 auto;
}

#search-bar-main {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}
#search-bar-wrapper label {
    font-size: 14px;
}
#search-show-more {
    color: #0080C6;
    cursor: pointer;
    font-family: brandon-med;
}
#search-show-more:before{
    content:'-Show Less';
}
#search-show-more.collapsed:before{
    content:'+Show More';
}

.search-show-more-row {
    border-bottom: 1px solid #cccccc;
}


.select2-container .select2-selection--single,
.select2-container--default .select2-selection--single .select2-selection__rendered,
.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 40px;
    line-height: 40px;
}
#search-bar-wrapper .form-control{
    height: 40px;
}

#search-bar-wrapper .btn {
    height: 40px;
    width: 120px;
}

.action-button {
    background-color:rgba(44, 45, 52, 1);
    border: solid rgba(44, 45, 52, 1) 0px; 
    width: 120px;

}
.action-button:hover {
    background-color: slategrey;
    border-color: slategrey;
}

/* -------------------------------------- */

/* *** Table specs for searchResults *** */

#searchResults th {
    text-align: center;
}

#searchResults td {
    font-size: 14px;
    vertical-align: middle;
    text-align: center;
}

/* #searchResults tbody tr:nth-of-type(2n+1) {
    background-color: rgb(0, 0, 0, 0.03);
} */

#searchResults img {
    min-width: 100px;
    width: 250px;
}

/* Hide caption for search results table */

caption {
    visibility: collapse;
}

/* -------------------------------------- */

/* *** Artwork List layout *** */

.gallery-item-wrapper {
    height: 293px;
    width: 293px;
    margin: 20px;
    /* z-index: 10; */
}

a.gallery-item-wrapper:link, a.gallery-item-wrapper:visited, a.gallery-item-wrapper:link:active, a.gallery-item-wrapper:visited:active {
    color: rgb(44, 45, 52);
}

#searchResults .gallery-item-image, .gallery-item-image {
    height: 293px;
    width: 293px;
    overflow: hidden;
    position: relative;
    z-index: 10;
}

.gallery-item-hover {
    visibility: hidden;
    z-index: 20;
    margin-top: -293px;
    background: rgb(256, 256, 256);
    background: rgba(256, 256, 256, 0.65);
    position: absolute;
    width: inherit;
    height: inherit;
}

.gallery-item-wrapper:hover .gallery-item-hover {
    visibility: visible;
}

.gallery-item-title {
    font: normal normal normal 29px/36px brandon-reg, sans-serif;
}

.gallery-item-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}
ul.gallery-item-text {
    list-style-type: none;
    padding: 0px;
}

/* -------------------------------------- */

/* *** Artwork Detail layout *** */

.card {
    background-color: transparent;
    max-width:560px;
    width:calc(100% - (2 * 1.8rem));
    margin:1.8rem;
    margin-top: 1rem ;
    box-sizing:border-box;
    min-width:400px;
    height: max-content;
}

/* Artwork Detail header */

/* non rounded select2 elements */
[class^='select2'] {
    border-radius: 0px !important;
  }


/* #artwork-year {
    -webkit-appearance: textfield;
    width: 4.5rem;
} */

/* Artwork Detail size fields */

.size-form-group {
    display: flex;
    flex-wrap: nowrap;
}

.size-form-group>label {
    padding: 0.5rem;
}

.size-field-container {
    color: gray;
    display: inline-flex;
    /* flex-wrap: nowrap; */
    /* justify-content: space-around; */
    align-items: center;
    width: min-content;
    overflow-x: auto;
    white-space: nowrap;
    padding: 0.25rem;
}

.size-field {
    /* max-width: 5rem; */
    /* width: fit-content; */
    /* width: max-content; */
    width: 2rem;
    min-width: 1rem;
    /* padding:2px; */
    /* margin:1rem; */
    -webkit-appearance: textfield;
    /* overflow: visible; */
    text-align: center;
    background: transparent;
    border: none;
    box-shadow: none;
    /* border-bottom: 1px solid rgb(113, 114, 110); */
    border-radius: 0
}

.form-inline label {
    padding: 0.5rem;
}

#size-fields-addtl {
    justify-content: end;
}

/* Exhibitions list */

#add-work-to-exhibition {
    display: flex;
}

#new-exhibition-select {
    flex: 7 1 auto;
}

#new-exhibition-submit {
    flex: 1 1 auto;
}

/* -------------------------------------- */

/* *** Other Detail layout *** */

.form-group {
    margin-bottom: 0.6rem;
}

/* -------------------------------------- */

/* *** Font Definitions *** */

@font-face {
    font-family: "brandon-reg";
    src: url('../fonts/hvd_fonts_-_brandongrotesque-regular.otf') format("truetype");
}

@font-face {
    font-family: "brandon-med";
    src: url('../fonts/hvd_fonts_-_brandongrotesque-medium.otf') format("truetype");
}

h1, h2, h3, h4, h5, h6, label, th {
    font-family: brandon-reg;
    font-weight: 200;
}

.related-items-header{
    margin-left: 0.3rem;
    margin-right: 0.3rem;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
}
/* -------------------------------------- */

/* *** OTHER *** */

#object-details .form-control {
    padding: 0.3rem;
    height: 1.5rem;
}
#object-details textarea.form-control {
    line-height: 1.5rem;
    height: 2rem;
    resize: none;
    overflow: hidden;
}
#object-details label {
    padding: 0.3rem;
}
#object-details .select2-container .select2-selection--single,
#object-details .select2-container--default .select2-selection--single .select2-selection__rendered,
#object-details .select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 1.5rem;
    line-height: 1.5rem;
    background-color: rgb(235, 235, 228);
    border: none;
}

/* for selects in object details header */
#page-header .select2-container .select2-selection--single,
#page-header .select2-container--default .select2-selection--single .select2-selection__rendered,
#page-header .select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 3rem;
    line-height: 3rem;
    background-color: rgb(235, 235, 228);
    border: none;
    font-size: 2rem;
}

/* #object-details .select2-container--default .select2-selection--single {
    min-width: 8rem;
} */
#page-header {
    flex-wrap: nowrap;
}

#page-header .object-details-header {
    font-size: 2rem;
    /* color: #2C2D34; */
    height: min-content;
    padding-top: 0rem;
    padding-bottom: 0rem;
}

#page-header label, #page-header .separator {
    color: darkgray;
}


.edit-field {
    background: transparent;
    vertical-align: middle;
    border: none;
    box-shadow: none;
}


.edit-field:focus {
    background-color: #ffffff;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
}


/* TEXTAREA AUTO RESIZE STYLES BEGIN */

/* The .hiddendiv styles are added with JS.
   You can remove the JS lines and use CSS instead
.hiddendiv {
  display: none;
  white-space: pre-wrap;
  word-wrap: break-word;
}*/

/* the styles for 'txta' are applied to both the textarea and the hidden clone */
/* these must be the same for both */
.txtarea-hidden-div {
    width: 100%;
    /* max-width: 500px; */
    /* min-height: 100px; */
    /* font-family: Arial, sans-serif; */
    font-size: 1rem;
    overflow: hidden;
    line-height: 1.5rem;
    padding: 0.3rem;
  }
  /* TEXTAREA AUTO RESIZE STYLES END */

#detail-submit {
    margin-left: 8rem;
}
