body {
    font-size: 16px;
    font-family: brandon-reg, Arial, Helvetica, sans-serif;
    background-color: rgb(235, 235, 228);
}

/* pallete:
rgb(227,117,70)
rgb(113,114,110)

rgb(235,235,228)
rgb(222,222,212)
rgb(70,71,76)
rgb(96, 124, 160) */

/* -------------------------------------- */

/* **** Layout For All Pages **** */

#wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
    /* padding-left: 160px; */
    /* transition: all 0.3s ease 0s; */
}

.sidebar {
    /* flex for sidebar items */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: stretch;
    min-width: 160px;
    max-width: 160px;
    overflow: auto;
    /* other */
    background-color: rgb(222, 222, 212);
}

/* Sidebar header */

.sidebar-header img {
    display: block;
    height: 40px;
}

/* Sidebar links */

.sidebar a {
    box-sizing: border-box;
    height: 27px;
    color: black;
    margin: 16px;
    text-decoration: none;
    font-size: 18px;
}

/* Active/current link */

/* .sidebar a.active {
    background-color: #4CAF50;
    color: white;
} */

/* Links on mouse-over */

.sidebar .nav-link:hover:not(.active) {
    /* background-color: #555; */
    color: white;
    font-size: 19px;
    transition: all 0.2s ease 0s;

}

/* Page content. The value of the margin-left property should match the value of the sidebar's width property */

#main-page {
    padding: 0;
    /* overflow-y: hidden; */
    /* width: 100%; */
}

#page-contents {
    margin: 0;
}

#object-details {
    width: 100%;
    margin: 15px;
    flex-direction: column;
}
#related-items {
    width: 100%;
    margin: 15px;
    flex-direction: column;
}

/* -------------------------------------- */

/* *** Search Bar CSS *** */


#search-bar-wrapper {
    width: 100%;
    max-width: 923px;
    margin: 0 auto;
}

#search-bar-main {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}
#search-bar-wrapper label {
    font-size: 14px;
}
#search-show-more {
    color: #0080C6;
    cursor: pointer;
    font-family: brandon-med;
}
#search-show-more:before{
    content:'-Show Less';
}
#search-show-more.collapsed:before{
    content:'+Show More';
}

.search-show-more-row {
    border-bottom: 1px solid #cccccc;
}


.select2-container .select2-selection--single,
.select2-container--default .select2-selection--single .select2-selection__rendered,
.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 40px;
    line-height: 40px;
}
#search-bar-wrapper .form-control{
    height: 40px;
}

#search-bar-wrapper .btn {
    height: 40px;
    width: 120px;
}

.action-button {
    background-color:rgba(44, 45, 52, 1);
    border: solid rgba(44, 45, 52, 1) 0px; 
    width: 120px;

}
.action-button:hover {
    background-color: slategrey;
    border-color: slategrey;
}

.select2-container--default, .search-filter .select2-selection--single {
    border: none;
    box-shadow: none;
    border-radius: 0;
    color: rgb(96, 124, 160);
}

/* -------------------------------------- */

/* *** Table specs for searchResults *** */

#searchResults th {
    text-align: center;
}

#searchResults td {
    font-size: 14px;
    vertical-align: middle;
    text-align: center;
}

/* #searchResults tbody tr:nth-of-type(2n+1) {
    background-color: rgb(0, 0, 0, 0.03);
} */

#searchResults img {
    min-width: 100px;
    width: 250px;
}

/* Hide caption for search results table */

caption {
    visibility: collapse;
}

/* -------------------------------------- */

/* *** Artwork List layout *** */

.gallery-item-wrapper {
    height: 293px;
    width: 293px;
    margin: 20px;
    /* z-index: 10; */
}

a.gallery-item-wrapper:link, a.gallery-item-wrapper:visited, a.gallery-item-wrapper:link:active, a.gallery-item-wrapper:visited:active {
    color: rgb(44, 45, 52);
}

#searchResults .gallery-item-image, .gallery-item-image {
    height: 293px;
    width: 293px;
    overflow: hidden;
    position: relative;
    z-index: 10;
}

.gallery-item-hover {
    visibility: hidden;
    z-index: 20;
    margin-top: -293px;
    background: rgb(256, 256, 256);
    background: rgba(256, 256, 256, 0.65);
    position: absolute;
    width: inherit;
    height: inherit;
}

.gallery-item-wrapper:hover .gallery-item-hover {
    visibility: visible;
}

.gallery-item-title {
    font: normal normal normal 29px/36px brandon-reg, sans-serif;
}

.gallery-item-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}
ul.gallery-item-text {
    list-style-type: none;
    padding: 0px;
}

/* -------------------------------------- */

/* *** Artwork Detail layout *** */

.card {
    background-color: transparent;
    max-width:560px;
    width:calc(50% - 4rem);
    margin:2rem;
    box-sizing:border-box;
    min-width:400px;
}

/* Artwork Detail header */

.artwork-header-field {
    background: transparent;
    /* margin-left: 1rem; */
    /* margin-right: 1rem; */
    vertical-align: middle;
    border: none;
    box-shadow: none;
    /* border-bottom: 1px solid rgb(113, 114, 110); */
    border-radius: 0;
}

.artwork-header-field:focus {
    background-color: #ffffff;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
}

/* #artwork-headers .select2-container--default {
    background:  rgb(235, 235, 228); 
} */

#artwork-headers .select2-container--default .select2-selection--single {
    background-color: rgb(235, 235, 228);
    min-width: 8rem;
}

/* non rounded select2 elements */
[class^='select2'] {
    border-radius: 0px !important;
  }


#artwork-title {
    min-width: 12rem;
    width: 12rem;
}

#artwork-year {
    -webkit-appearance: textfield;
    width: 4.5rem;
}

/* Artwork Detail size fields */

.size-form-group {
    display: flex;
    flex-wrap: nowrap;
}

.size-form-group>label {
    padding: 0.5rem;
}

.size-field-container {
    color: gray;
    display: inline-flex;
    /* flex-wrap: nowrap; */
    /* justify-content: space-around; */
    align-items: center;
    width: min-content;
    overflow-x: auto;
    white-space: nowrap;
    padding: 0.25rem;
}

.size-field {
    /* max-width: 5rem; */
    /* width: fit-content; */
    /* width: max-content; */
    width: 2rem;
    min-width: 1rem;
    /* padding:2px; */
    /* margin:1rem; */
    -webkit-appearance: textfield;
    /* overflow: visible; */
    text-align: center;
    background: transparent;
    border: none;
    box-shadow: none;
    /* border-bottom: 1px solid rgb(113, 114, 110); */
    border-radius: 0
}

.form-inline label {
    padding: 0.5rem;
}

#size-fields-addtl {
    justify-content: end;
}

/* Sale form into */

.sale-form th {
    font-weight: normal;
}

.sale-form td {
    align-content: center;
}

#sale-price-td {
    display: flex;
    /* align-content: center; */
}

#sale-currency {
    max-width: 3rem;
    padding: 0.1rem;
    text-align: center;
}

/* Exhibitions list */

#add-work-to-exhibition {
    display: flex;
}

#new-exhibition-select {
    flex: 7 1 auto;
}

#new-exhibition-submit {
    flex: 1 1 auto;
}

/* #size-fields-addtl .form-group{
    justify-content: space-between;
} */

/* #artwork-details-wrapper {
    display: flex;
    flex-direction : column;
    flex-wrap: wrap;
    max-height: 1000px;
    width: 100%;
    
}
#artwork-details-wrapper .form-control {
    width: 100px;
} */

/* #artwork-details-wrapper > div {
    width: 50%;
} */

/* #artwork-image {
    width: 400px;
} */

/* #artwork-image img { 
    object-fit: contain;
    width: 300px;
}
  #image {
    background: blue;
    height: 150px;
  }
  #sales {
    background: red;
    height: 50px;
  }
  #general {
    height: 120px;
    background: orange;
  }
  #exhibitions {
    background: yellow;
    overflow: scroll;
  }
  #exhibition-body {
      height: 300px;
  
  }
  
  .img-fluid {  
      width: 100%;
  } */

/* -------------------------------------- */

/* *** Other Detail layout *** */

textarea.detail-field {
    height: 5rem;
}

.form-group {
    margin-bottom: 0.6rem;
}

/* -------------------------------------- */

/* *** Font Definitions *** */

@font-face {
    font-family: "brandon-reg";
    src: url('../fonts/hvd_fonts_-_brandongrotesque-regular.otf') format("truetype");
}

@font-face {
    font-family: "brandon-med";
    src: url('../fonts/hvd_fonts_-_brandongrotesque-medium.otf') format("truetype");
}

h1, h2, h3, h4, h5, h6, label, th {
    font-family: brandon-reg;
    font-weight: 200;
}

/* -------------------------------------- */

/* *** OTHER *** */

/* input, select, .form-control {
    background: transparent;
    border: none;
    box-shadow: none;
    border-bottom: 1px solid rgb(113, 114, 110);
    border-radius: 0;
} */

/* - NOTE THESE ARE THE THINGS I'M TESTING RIGHT NOW 
input:focus, select:focus, .form-control:focus {
    background-color: #ffffff;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
}

a, h1, h2, h3, h4, h5, h6, p, input, select, label, td, th, small, textarea, option {
    font-family: brandon-reg;
} - NOTE END OF TESTING SECTION */

/* .sidenav {
    height: 100%;
} */

/* .sidenav {
    height: 100%;
    width: 160px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    color: rgb(227,117,70);
    background-color: rgb(113,114,110);
    overflow-x: hidden;
    padding-top: 20px;
}

.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
}

.sidenav a:hover {
    color: #f1f1f1;
} */

/* .main { */

/* margin-left: 160px; */

/* Same as the width of the sidenav */

/* font-size: 28px; */

/* Increased text to enable scrolling */

/* padding: 0px 10px; */

/* }  */

#object-details .form-control {
    padding: 0.3rem;
    height: 1.5rem;
}
#object-details textarea.form-control {
    line-height: 1.5rem;
    height: 2rem;
    resize: none;
    overflow: hidden;
}
#object-details label {
    padding: 0.3rem;
}
#object-details .select2-container .select2-selection--single,
#object-details .select2-container--default .select2-selection--single .select2-selection__rendered,
#object-details .select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 1.5rem;
    line-height: 1.5rem;
    background-color: rgb(235, 235, 228);
    border: none;
}

/* for selects in object details header */
#object-details-name .select2-container .select2-selection--single,
#object-details-name .select2-container--default .select2-selection--single .select2-selection__rendered,
#object-details-name .select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 3rem;
    line-height: 3rem;
    background-color: rgb(235, 235, 228);
    border: none;
    font-size: 2rem;
}

/* #object-details .select2-container--default .select2-selection--single {
    min-width: 8rem;
} */
#object-details-name {
    flex-wrap: nowrap;
}

#object-details-name .object-details-header {
    font-size: 2rem;
    /* color: #2C2D34; */
    height: min-content;
    padding-top: 0rem;
    padding-bottom: 0rem;
}

#object-details-name label, #object-details-name .separator {
    color: darkgray;
}


.edit-field {
    background: transparent;
    vertical-align: middle;
    border: none;
    box-shadow: none;
}


.edit-field:focus {
    background-color: #ffffff;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
}

/* #artwork-headers .select2-container--default {
    background:  rgb(235, 235, 228); 
} */


/* TEXTAREA AUTO RESIZE STYLES BEGIN */

/* The .hiddendiv styles are added with JS.
   You can remove the JS lines and use CSS instead
.hiddendiv {
  display: none;
  white-space: pre-wrap;
  word-wrap: break-word;
}*/

/* the styles for 'txta' are applied to both the textarea and the hidden clone */
/* these must be the same for both */
.txtarea-hidden-div {
    width: 100%;
    /* max-width: 500px; */
    /* min-height: 100px; */
    /* font-family: Arial, sans-serif; */
    font-size: 1rem;
    overflow: hidden;
    line-height: 1.5rem;
    padding: 0.3rem;
  }
  /* TEXTAREA AUTO RESIZE STYLES END */

#detail-submit {
    margin-left: 8rem;
    margin-right: 8rem;
}
