{% load static %}
{% load widget_tweaks %}
<!DOCTYPE html>
<html lang="en">
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js" lang="en"> <![endif]-->

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>{% block title %}Exhibit{% endblock %}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">


  <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
  <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
  <![endif]-->

  <!-- load the icon -->
  <link rel="icon" href="{% static 'images/favicons/icon.png' %}">


  <!-- bootstrap  css -->
  <link rel="stylesheet" href="http://code.jquery.com/ui/1.8.18/themes/base/jquery-ui.css" type="text/css"
    media="all" />
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap-theme.min.css">

  <!-- select2 stylesheet - for custom selects -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.10/css/select2.min.css" rel="stylesheet" />


  <!-- Project specific CSS -->
  <link rel="stylesheet" href="{% static 'css/style.css' %}?version='0.2.0">



  <!-- script to load script sources sequentially -->
  <!-- <script>
    (function () {

      //three JS files that need to be loaded one after the other
      var libs = [
        // jquery minified
        "https://code.jquery.com/jquery-3.4.1.min.js",
        // jquery ui tools
        "https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js",
        // popper - don't know what this does
        "https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js",
        // select2 script - for custom selects
        "https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.10/js/select2.full.js"
      ];

      var injectLibFromStack = function () {
        if (libs.length > 0) {

          //grab the next item on the stack
          var nextLib = libs.shift();
          var headTag = document.getElementsByTagName('head')[0];

          //create a script tag with this library
          var scriptTag = document.createElement('script');
          scriptTag.src = nextLib;

          //when successful, inject the next script
          scriptTag.onload = function (e) {
            console.log("--- loaded: " + e.target.src);
            injectLibFromStack();
          };

          //append the script tag to the <head></head>
          headTag.appendChild(scriptTag);
          console.log("injecting: " + nextLib);
        }
        else return;
      }

      //start script injection
      injectLibFromStack();
    })();
  </script> -->
  <!-- Bootstrap core JavaScript -->
  <!-- jquery first, then jqueryui, then popper.js, then bootstrap js -->
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js" type="text/javascript"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>

  <!-- for custom selects -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.10/js/select2.full.js"></script>

  <!-- Tempus Dominus Bootstrap package for presenting date fields -->
  {# Django Tempus Dominus assets are included in `{{ form.media }}` #}
  {% if form %}
  {{ form.media }}
  {% endif %}
  <!-- place project specific Javascript in this file -->

  <script src="{% static 'js/project.js' %}" type="text/javascript"></script>

  <!-- functionality for search, textarea resize, enable size2 everywhere - needs refactoring -->
  <script>
    function makeSearchQuery() {
      let search_params = {
        'artwork': {},
        'location': {},
        'exhibition': {}
      };
      function feed_params_with_inputs(input_selector, param) {
        for (input of input_selector) {
          search_params[param][input.name] = input.value;
        }
      }
      feed_params_with_inputs($('.search-artwork-details'), 'artwork')
      feed_params_with_inputs($('#search-location-details input, #search-location-details select'), 'location')
      feed_params_with_inputs($('#search-exhibition-details input, #search-exhibition-details select'), 'exhibition')
      return search_params;
    }

    $(document).ready(function () {
      // initialize select2
      // console.log($('#search-bar-main select'));
      $('#search-bar-main select').select2();
      // console.log($('#search-bar-main select'));
      $('#search-bar-more select').select2({ width: 'style' });
      // console.log($('#object-details select'));
      // $('#object-details select').select2();

      // send filter data on submit in JSON serialized string
      $("#search-form").submit(() => {
        let query = makeSearchQuery();
        $('<input />').attr('type', 'hidden')
          .attr('name', 'search_form_data')
          .attr('value', JSON.stringify(query))
          .appendTo("#search-form");
        return true;
      });

      // TEXT AREA RESIZE
      // see https://www.impressivewebs.com/textarea-auto-resize/ for source

      // Targets all textareas with class "txta"
      let textareas = document.querySelectorAll('#object-details textarea'),
        hiddenDiv = document.createElement('div'),
        content = null;



      // Build the hidden div's attributes

      // The line below is needed if you move the style lines to CSS
      // hiddenDiv.classList.add('hiddendiv');

      // Add the "txta" styles, which are common to both textarea and hiddendiv
      // If you want, you can remove those from CSS and add them via JS
      hiddenDiv.classList.add('txtarea-hidden-div');
      // hiddenDiv.classList.add('form-control');

      // Add the styles for the hidden div
      // These can be in the CSS, just remove these three lines and uncomment the CSS
      hiddenDiv.style.display = 'none';
      hiddenDiv.style.whiteSpace = 'pre-wrap';
      hiddenDiv.style.wordWrap = 'break-word';

      // function for adding hidden area and fixing height to match contents
      function addHiddenArea(textarea) {
        // Append hiddendiv to parent of textarea, so the size is correct
        textarea.parentNode.appendChild(hiddenDiv);

        // Remove this if you want the user to be able to resize it in modern browsers
        textarea.style.resize = 'none';

        // This removes scrollbars
        textarea.style.overflow = 'hidden';

        // Every input/change, grab the content
        content = textarea.value;

        // Add the same content to the hidden div

        // This is for old IE
        content = content.replace(/\n/g, '<br style="line-height:1px;">');

        // The <br ..> part is for old IE
        // This also fixes the jumpy way the textarea grows if line-height isn't included
        hiddenDiv.innerHTML = content + '<br style="line-height: 1px;">';

        // Briefly make the hidden div block but invisible
        // This is in order to read the height
        hiddenDiv.style.visibility = 'hidden';
        hiddenDiv.style.display = 'block';
        // console.log('height' + hiddenDiv.offsetHeight);
        textarea.style.height = hiddenDiv.offsetHeight + 'px';

        // Make the hidden div display:none again
        hiddenDiv.style.visibility = 'visible';
        hiddenDiv.style.display = 'none';
      }


      // Loop through all the textareas and add the event listener
      for (let i of textareas) {
        (function (i) {

          // add hidden div initially to set height
          addHiddenArea(i);

          // Note: Use 'keyup' instead of 'input'
          // if you want older IE support
          i.addEventListener('input', function () {
            addHiddenArea(i);

          });
        })(i);
      }
      // TEXT AREA RESIZE DONE
    });
  </script>


  <!-- Page specific headers -->
  {% block custom_headers %}
  {% endblock %}


</head>

<body>
  <!--[if lt IE 7]>
    <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
  <div id="wrapper">
    <!-- Side navigation -->
    <div class="sidebar" id="sidebar">
      <div id="sidebar-header">
        <a class="sidebar-header" href="{% url 'home' %}">
          <img src="{% static 'images/logo_short.png' %}" alt="Exhibit">
        </a>
      </div>
      {% if request.user.is_authenticated %}
      <a class="nav-link" href="{% url 'catalogue:artwork_index' %}">Artworks</a>
      <a class="nav-link" href="{% url 'catalogue:series_index' %}">Series</a>
      <a class="nav-link" href="{% url 'catalogue:exhibition_index' %}">Exhibitions</a>
      <a class="nav-link" href="{% url 'catalogue:location_index' %}">Locations</a>
      {# URL provided by django-allauth/account/urls.py #}
      <a class="nav-link" class="nav-link" href="{% url 'users:detail' request.user.username  %}">My Profile</a>
      {# URL provided by django-allauth/account/urls.py #}
      <a class="nav-link" href="{% url 'account_logout' %}">Sign Out</a>
      {% else %}
      {# URL provided by django-allauth/account/urls.py #}
      <a id="sign-up-link" class="nav-link" href="{% url 'account_signup' %}">Sign Up</a>
      {# URL provided by django-allauth/account/urls.py #}
      <a id="log-in-link" class="nav-link" href="{% url 'account_login' %}">Sign In</a>
      {% endif %}
    </div>
    <!-- Main page body -->
    <div class="container-fluid" id="main-page">

      {% if messages %}
      {% for message in messages %}
      <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}">{{ message }}<button type="button"
          class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>
      {% endfor %}
      {% endif %}

      <div id="page-contents" class="center-block">
        {% block content %} {% endblock %}
      </div>
    </div> <!-- /container -->
  </div>
  {% block modal %}{% endblock modal %}

  <!-- Placed at the end of the document so the pages load faster -->
  {% block javascript %}
  {% endblock javascript %}
</body>

</html>