{% extends "list.html" %} 

{% block page_name %}
<h3>Artwork List</h3>
{% endblock page_name %} 

{% block create_url %}'/catalogue/artwork/new/'{% endblock %} 

{% block list_content %}
    <tr>
        <th>Title</th>
        <th>Size</th>
        <th>Location</th>
        <th>Series</th>
    </tr>
    {% for artwork in object_list %}
    <tr>
        <td><a href="/artwork/{{ artwork.pk }}">{{ artwork.title }}</a></td>
        <td>{{ artwork.size }}</td>
        <td><a href="/location/{{ artwork.location.pk }}">{{ artwork.location }}</a></td>
        <td><a href="/series/{{ artwork.series.pk }}">{{ artwork.series }}</a></td>
    </tr>
    {% endfor %}
{% endblock %}