{% extends "detail.html" %}

{% block page_name %}
<h3>Artwork</h3>
{% endblock page_name %}



{% block related %}
<h3>All Exhibitions</h3>
<table>
        <th>Name</th>
        <th>Start date</th>
        <th>End date</th>
        </tr>
        {% for exhibition in members %}
        <tr>
            <td><a href="/catalogue/exhibition/{{ exhibition.pk }}">{{ exhibition.name }}</a></td>
            <td>{{ exhibition.start_date }}</td>
            <td>{{ exhibition.end_date }}</td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}