{% extends "detail.html" %} 

{% block page_name %}
<h3>Exhibition</h3>
{% endblock page_name %} 

{% block related %}
<h3>Artworks in Exhibition</h3>
<table>
    <tr>
        <th>Title</th>
        <th>Size</th>
        <th>Location</th>

    </tr>
    {% for artwork in members %}
    <tr>
        <td><a href="{% url artwork_detail artwork.pk %}">{{ artwork.title }}</a></td>
        <td>{{ artwork.size }}</td>
        <td><a href="{% url 'location_detail' artwork.location.pk %}">{{ artwork.location }}</a></td>
    </tr>
    {% endfor %}
</table>
{% endblock %}