{% extends "base.html" %}
{% load widget_tweaks %}
{% load static %}

{% block custom_headers %}
<script>
    $(document).ready(function () {

        $("#artwork-series").select2({
            'placeholder': 'Series',
            'width': 'style',
            'containerCss': {
                'border': 'none',
                'box-shadow': 'none',
                'border-radius': 0
            }
        });
        $("#artwork-status").select2({
            'placeholder': 'Series',
            'width': 'style',
            'containerCss': {
                'border': 'none',
                'box-shadow': 'none',
                'border-radius': 0
            }
        });        

        // $("#artwork-series").on('change', setSelectWidth);
        // var mDiv = $("<span />").text("M").appendTo("body"),
        //     mSize = mDiv.width();
        // mDiv.detach();

        // var letterSize = function (s) {
        //     var sDiv = $("<span />").text("M" + s + "M").appendTo("body"),
        //         sSize = sDiv.width();

        //     sDiv.detach();

        //     return (sSize - (mSize * 2)) * 0.89;
        // };
        // $(".data-resize-me").each(function () {
        //     var minSize = $(this).width();

        //     var resizeInput = function () {
        //         console.log($(this).val());
        //         var calcSize = $.map($(this).val(), letterSize);
        //         var inputSize = 0;
        //         $.each(calcSize, function (i, v) { inputSize += v; });

        //         $(this).width(inputSize < minSize ? minSize : inputSize);
        //     };

        //     $(this).on({ keydown: resizeInput, keyup: resizeInput });
        // });

        $("#artwork-title").each((index, elem) => {
            let value = elem.value;
            elem.style.width = ((value.length)) + 'ch';
        });
        $("#artwork-title").on('keyup keydown', (event) => {
            event.target.style.width = ((event.target.value.length)) + 'ch';
        });


        $(".size-field").each((index, elem) => {
            let value = elem.value;
            if (String(Number(value)) === value) {
                elem.style.width = ((value.length) * 9 + 5) + 'px';
            } else {
                elem.style.width = ((value.length - 2) * 9 + 5) + 'px';
            }
        });
        $('.size-field').on('keyup keydown', (event) => {
            event.target.style.width = ((event.target.value.length) * 9 + 5) + 'px';
        });

        $('#artwork-location').select2({'placeholder': 'Location'});
        $('#new-exhibition-select').select2({'placeholder': 'New Exhibition'})
    });

</script>
{% endblock custom_headers %}

{% block content %}
<form action="." method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="row pb-2 mt-4 mb-2" id="artwork-headers" style="font-size:30px;font-family:brandon-med;">
        <span id='artwork-series-container'>
            {%  render_field form.series class="artwork-header-field mx-4" id="artwork-series" %}
        </span>
        <span>:</span>
        <span>
            {%  render_field form.title class="artwork-header-field mx-4 data-resize-me" id="artwork-title" placeholder="Title" %}
        </span>
        <span>(</span>
        <span>
            {%  render_field form.year class="artwork-header-field" id="artwork-year" placeholder="Year" %}
        </span>
        <span>)</span>
        <span>
            {%  render_field form.status class="artwork-header-field mx-4" id="artwork-status" %}
        </span>
        <input type="submit" class="btn btn-primary" value="{{ action_name }}" style="margin-left:auto;">
    </div>
    <div class="row" id="artwork-details-wrapper">
        <div class="col-sm-6" id="left-col">
            <div id="artwork-image" class="card">
                {% if form.instance.image %}
                <img class="img-fluid card-img-top" src="{{ form.instance.image.url }}" alt="Artwork image">
                {% else %}
                <img class="img-fluid card-img-top" src="{% static 'catalogue/images/unicorn.png' %}"
                    alt="Artwork image">
                {% endif %}
                <div class="card-body">
                    {{ form.image }}
                    <!-- {% render_field form.image class="custom-file"%} -->
                </div>
            </div>
            {% if editMode %}
            <div id="sales-info" class="card">
                <div class="card-body sale-form">
                    <h3 class='card-title'>Sale Info</h3>
                    <table class='table'>
                        <tbody>
                            <tr>
                                <th scope="row">{{ form.owner.label_tag }}</th>
                                <td>
                                    {% render_field form.owner class="form-control rounded-0 form-control-sm" %}
                                    {% if form.owner.help_text %}
                                    <small class="form-text text-muted">{{ form.owner.help_text }}</small>
                                    {% endif %}
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">{{ form.sold_by.label_tag }}</th>
                                <td>
                                    {% render_field form.sold_by class="form-control rounded-0 form-control-sm" %}
                                    {% if form.sold_by.help_text %}
                                    <small class="form-text text-muted">{{ form.sold_by.help_text }}</small>
                                    {% endif %}
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">{{ form.price_nis.label_tag }}</th>
                                <td>
                                    {% render_field form.price_nis class="form-control rounded-0 form-control-sm" %}
                                    {% if form.price_nis.help_text %}
                                    <small class="form-text text-muted">{{ form.price_nis.help_text }}</small>
                                    {% endif %}
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">{{ form.price_usd.label_tag }}</th>
                                <td>
                                    {% render_field form.price_usd class="form-control rounded-0 form-control-sm" %}
                                    {% if form.price_usd.help_text %}
                                    <small class="form-text text-muted">{{ form.price_usd.help_text }}</small>
                                    {% endif %}
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">{{ form.sale_price.label_tag }}</th>
                                <td id="sale-price-td">
                                    {% render_field form.sale_currency class="form-control rounded-0 form-control-sm" id="sale-currency" %}
                                    {% render_field form.sale_price class="form-control rounded-0 form-control-sm"  %}
                                    {% if form.sale_price.help_text %}
                                    <small class="form-text text-muted">{{ form.sale_price.help_text }}</small>
                                    {% endif %}
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">{{ form.discount.label_tag }}</th>
                                <td>
                                    {% render_field form.discount class="form-control rounded-0 form-control-sm" %}
                                    {% if form.discount.help_text %}
                                    <small class="form-text text-muted">{{ form.discount.help_text }}</small>
                                    {% endif %}
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">{{ form.sale_date.label_tag }}</th>
                                <td>
                                    {% render_field form.sale_date class="form-control rounded-0 form-control-sm" %}
                                    {% if form.sale_date.help_text %}
                                    <small class="form-text text-muted">{{ form.sale_date.help_text }}</small>
                                    {% endif %}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            {% endif %}
        </div>
        <div class="col-sm-6" id="right-col">
            <div id="artwork-details" class="card">
                <div class="card-body">
                    <div class="size-fields row">
                        <div id="size-fields-measures" class="col-5">
                            <h5>Size (h | w | d):</h5>
                            <div id="size-fields-cm" class="form-inline size-form-group">
                                <div id="id_size_cm" class="size-field-container form-control rounded-0 form-control-sm">
                                    {% render_field form.height_cm class="size-field" %}
                                    <span class="size-field-separator">|</span>
                                    {% render_field form.width_cm class="size-field" %}
                                    <span class="size-field-separator">|</span>
                                    {% render_field form.depth_cm class="size-field" %}
                                </div>
                                <label for="id_size_cm">cm</label>
                            </div>
                            <div id="size-fields-in" class="form-inline size-form-group">
                                <div id="id_size_in" class="size-field-container form-control rounded-0 form-control-sm">
                                    {% render_field form.height_in class="size-field" %}
                                    <span class="size-field-separator">|</span>
                                    {% render_field form.width_in class="size-field" %}
                                    <span class="size-field-separator">|</span>
                                    {% render_field form.depth_in class="size-field" %}
                                </div>
                                <label for="id_size_in">in</label>
                            </div>
                        </div>
                        <div id="size-fields-addtl" class="form col-7">
                            <div id="size-fields-type">
                                <!-- <h6></h6> -->
                                <div class="form-group">
                                    {{ form.size.label_tag }}
                                    {% render_field form.size class="form-control rounded-0 form-control-sm" %}
                                    {% if form.size.help_text %}
                                    <small class="form-text text-muted">{{ form.size.help_text }}</small>
                                    {% endif %}
                                </div>
                            </div>
                            <div id="size-fields-rolled">
                                <div class="form-group">
                                    {{ form.rolled.label_tag }}
                                    {% render_field form.rolled class="form-control rounded-0 form-control-sm" %}
                                    {% if form.rolled.help_text %}
                                    <small class="form-text text-muted">{{ form.rolled.help_text }}</small>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group" id="location-field">
                        {{ form.location.label_tag }}
                        {% render_field form.location class="form-control rounded-0 form-control-sm" id='artwork-location' %}
                        {% if form.location.help_text %}
                        <small class="form-text text-muted">{{ form.location.help_text }}</small>
                        {% endif %}
                    </div>
                    <div class="form-group" id="medium-field">
                        {{ form.medium.label_tag }}
                        {% render_field form.medium class="form-control rounded-0 form-control-sm" %}
                        {% if form.medium.help_text %}
                        <small class="form-text text-muted">{{ form.medium.help_text }}</small>
                        {% endif %}
                    </div>
                    <div class="form-group" id="addtl-field">
                        {{ form.additional.label_tag }}
                        {% render_field form.additional class="detail-field form-control rounded-0 form-control-sm" %}
                        {% if form.additional.help_text %}
                        <small class="form-text text-muted">{{ form.additional.help_text }}</small>
                        {% endif %}
                    </div>
                </div>
            </div>
            {% if editMode %}
            <div id="exhibitions" class="card">
                <div class="card-body">
                    <h3 class="card-title">All Exhibitions</h3>
                    <!-- <form action="{% url 'catalogue:add_workinexhibition' %}" method="POST"> -->
                    <div class="form-inline" id="add-work-to-exhibition">
                        {% render_field exhibitionForm.artwork class="collapse" style="visibility:hidden;" %}
                        {% render_field exhibitionForm.exhibition class="form-control rounded-0" id="new-exhibition-select" %}
                        <input type="submit" class="btn btn-primary btn-sm" value="Add new" id="new-exhibition-submit">
                    </div>
                    <!-- </form> -->
                    <table class="table table-striped table-hover">
                        {% include "./exhibition_list.html" with object_list=exhibitionList %}
                    </table>

                </div>
            </div>
            {% endif %}
        </div>
    </div>
</form>
{% endblock content %}