{% extends "base.html" %}
{% load widget_tweaks %}
{% load static %}

{% block custom_headers %}
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script>

    $(document).ready(function () {
        $(".size-field").each((index, elem) => {
            elem.style.width = ((elem.value.length + 1) * 9) + 'px';
        })
        $('.size-field').on('keyup', (event) => {
            // console.log('keydown');
            // console.log(event.target);
            event.target.style.width = ((event.target.value.length + 1) * 9) + 'px';
        });
    });

</script>
{% endblock custom_headers %}

{% block page_title %}
<!-- {% if form.title.value %}{{ form.title.value }}
{% else %}Artwork{% endif %} -->
{% endblock %}

{% block content %}
<!-- <form action="." method="POST" enctype="multipart/form-data"> -->
{% csrf_token %}
<div class="row" id="artwork-headers">
    {%  render_field form.series class="artwork-header-field" %}
    {%  render_field form.title class="artwork-header-field" %}
    ({%  render_field form.year class="artwork-header-field" %})
    {%  render_field form.status class="artwork-header-field" %}
    <input type="submit" class="btn btn-primary artwork-header-field" value="{{ action_name }}">
</div>
<div class="row" id="artwork-details-wrapper">
    <div class="col-sm-6" id="left-col">
        <div id="artwork-image" class="card">
            {% if form.instance.image %}
            <img class="img-fluid card-img-top" src="{{ form.instance.image.url }}" alt="Artwork image">
            {% else %}
            <img class="img-fluid card-img-top" src="{% static 'catalogue/images/unicorn.png' %}" alt="Artwork image">
            {% endif %}
            <div class="card-body">
                {% render_field form.image class="custom-file"%}
            </div>
        </div>
        <div id="sales-info" class="card">
            <h2>Sales info</h2>
            <div class="card-body">
                <p>{{ form.owner.value }}</p>
            </div>    
        </div>
    </div>
    <div class="col-sm-6" id="right-col">
        <div id="artwork-details" class="card">
            <div class="card-body">
                <div class="size-fields row">
                    <div id="size-fields-measures" class="col-5">
                        <h5>Size (h | w | d):</h5>
                        <div id="size-fields-cm" class="form-inline size-form-group">
                            <div id="id_size_cm" class="size-field-container form-control" >
                                {% render_field form.height_cm class="size-field" %}
                                <span class="size-field-separator">|</span>
                                {% render_field form.width_cm class="size-field" %}
                            </div>
                            <label for="id_size_cm">cm</label>
                        </div>
                        <div id="size-fields-in" class="form-inline size-form-group">
                            <div id="id_size_in" class="size-field-container form-control">
                                {% render_field form.height_in class="size-field" %}
                                <span class="size-field-separator">|</span>
                                {% render_field form.width_in class="size-field" %}
                            </div>
                            <label for="id_size_in">in</label>
                        </div>
                    </div>
                    <div id="size-fields-addtl" class="form-inline col-7">
                        <div id="size-fields-type">
                            <h6></h6>
                            <div class="form-group">
                                {{ form.size.label_tag }}
                                {% render_field form.size class="form-control" %}
                                {% if form.size.help_text %}
                                <small class="form-text text-muted">{{ form.size.help_text }}</small>
                                {% endif %}
                            </div>
                        </div>
                        <div id="size-fields-rolled">
                            <div class="form-group">
                                {{ form.rolled.label_tag }}
                                {% render_field form.rolled class="form-control" %}
                                {% if form.rolled.help_text %}
                                <small class="form-text text-muted">{{ form.rolled.help_text }}</small>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group" id="location-field">
                    {{ form.location.label_tag }}
                    {% render_field form.location class="form-control" %}
                    {% if form.location.help_text %}
                    <small class="form-text text-muted">{{ form.location.help_text }}</small>
                    {% endif %}
                </div>
                <div class="form-group" id="medium-field">
                    {{ form.medium.label_tag }}
                    {% render_field form.medium class="form-control" %}
                    {% if form.medium.help_text %}
                    <small class="form-text text-muted">{{ form.medium.help_text }}</small>
                    {% endif %}
                </div>
                <div class="form-group" id="addtl-field">
                    {{ form.additional.label_tag }}
                    {% render_field form.additional class="form-control" %}
                    {% if form.additional.help_text %}
                    <small class="form-text text-muted">{{ form.additional.help_text }}</small>
                    {% endif %}
                </div>
            </div>
        </div>
        <div id="exhibitions" class="card">

            <h3>All Exhibitions</h3>
            <form action="{% url 'catalogue:add_workinexhibition' %}" method="POST">
                {% csrf_token %}
                {% render_field exhibitionForm.artwork style="visibility:hidden;" %}
                {% render_field exhibitionForm.exhibition %}
                <input type="submit" class="btn btn-primary" value="Add new">
            </form>
            <table>
                <th>Name</th>
                <th>Start date</th>
                <th>End date</th>
                </tr>
                {% for exhibition in exhibitionList %}
                <tr>
                    <td><a href="{% url 'catalogue:exhibition_detail' exhibition.pk %}">{{ exhibition.name }}</a>
                    </td>
                    <td>{{ exhibition.start_date }}</td>
                    <td>{{ exhibition.end_date }}</td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</div>
<!-- </form> -->
{% endblock content %}

{% block related_items %}
<!-- <div class="row related-content">
    <div class="col-sm-6">

        <div class="row" id="locations-history-container">
            <h2>Locations</h2>
            <p>{{ form.location.value }}</p>
        </div>
    </div>
   
</div> -->
{% endblock %}