<span class="search-filter-foreignkey-select-wrapper {% if resultType == 'Series' %}collapse{% endif %}">
    <select class="form-control rounded-0 flex-item search-filter-foreignkey-select">
        <!-- {% if resultType == "series" %}style="visibility:hidden;width:0px;height:0px;" {% endif %}> -->
        {% for name, verbose_name in fields.items %}
        <option value="{{ name }}" {% if name == selected %}selected{% endif %}>{{ verbose_name }}
        </option>
        {% endfor %}
    </select>
</span>