<caption>List of Locations</caption>
<thead>
    <tr>
        <th scope="col">Name</th>
        <th scope="col">City</th>
        <th scope="col">State</th>
        <th scope="col">Country</th>
        <th scope="col">Address</th>
        <th scope="col">Zip</th>
    </tr>
</thead>
<tbody>
    {% for location in object_list %}
    <tr>
        <td><a href="{% url 'catalogue:location_detail' location.pk %}">{{ location.name }}</a></td>
        <td><a href="{% url 'catalogue:location_detail' location.pk %}">{{ location.city }}</a></td>
        <td><a href="{% url 'catalogue:location_detail' location.pk %}">{{ location.state }}</a></td>
        <td><a href="{% url 'catalogue:location_detail' location.pk %}">{{ location.country }}</a></td>
        <td><a href="{% url 'catalogue:location_detail' location.pk %}">{{ location.address_1 }}</a></td>
        <td><a href="{% url 'catalogue:location_detail' location.pk %}">{{ location.zip_code }}</a></td>
        <td>{{ location.city }}</td>
        <td>{{ location.country }}</td>
    </tr>
    {% endfor %}
</tbody>
