{% extends "base.html" %}
{% load static %}


{% block custom_headers %}
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script>

    function getSelectedValueFromSelect(selectID) {
        // return value from select by jquery query string - returns from first result
        let select = $(selectID)[0];
        return select.options[select.options.selectedIndex].value;
    }

    function getResultType() {
        return getSelectedValueFromSelect("#search-result-type-selector");
    }

    const foreignKeyNames = ['series', 'location'];

    function addSearchFilter(element) {
        let resultType = getResultType();
        $.get("{% url 'catalogue:make_search_filter' %}", {
            'resultType': resultType,
        }, function (data) {
            $(element).append(data);
        });
    }

    // function fillSearchFilters(params) {
    //     $.get("c/searchbar",
    //         $.param(params),
    //         function (data) {
    //             $("#search-bar-body").append(data);
    //         });
    // }

    function resetSearchFilters() {
        $("#search-filters-container").empty();
        addSearchFilter("#search-filters-container");
    }

    // function getQueryParams() {
    //     let search = window.location.search.substring(1);
    //     let params;
    //     if (search) {
    //         params = JSON.parse('{"' + search.replace(/&/g, '","').replace(/=/g, '":"') + '"}', function (key, value) { return key === "" ? value : decodeURIComponent(value) });
    //     } else {
    //         params = null;
    //     }
    //     return params;
    // }

    function makeSearchQuery() {
        let resultType = getResultType();
        let filters = [];

        let filtersList = $(".search-filter");
        for (let i = 0; i < filtersList.length; i++) {
            let searchFilter = filtersList.eq(i);
            let mainSelect = searchFilter.find(".search-filter-main-select")[0];
            let foreignSelect = searchFilter.find(".search-filter-foreignkey-select")[0];
            let filterText = searchFilter.find(".search-filter-text")[0];

            let fieldName = mainSelect.options[mainSelect.options.selectedIndex].value;
            let foreignKeyField;

            if (foreignSelect) {
                foreignKeyField = foreignSelect.value;
            } else if (fieldName === "series") {
                foreignKeyField = "name"
            }

            // if (fieldName === "series") {
            //     foreignKeyField = "name"
            // } else if (fieldName == "location") {
            //     foreignKeyField = "name"
            // }

            filters.push({
                "fieldName": fieldName,
                "fieldValue": filterText.value,
                "foreignKeyField": foreignKeyField
            })
        }
        return { "resultType": resultType, "filters": filters }
    }

    // fieldName = filterDict.get('fieldName')
    // foreignKeyField = filterDict.get('foreignKeyField')
    // fieldValue = filterDict.get('fieldValue')


    $(document).ready(function () {
        // console.log(getQueryParams());
        // fillSearchFilters(getQueryParams());
        // addSearchFilter();
    });
    $(document).ready(function () {
        // initialize state
        addSearchFilter("#search-filters-container");

        // add filters on click
        $("#search-bar-body").on("click", ".search-filter-append", () => { addSearchFilter("#search-bar-body") });
        $("#add-search-filter-button").on("click", () => { addSearchFilter("#search-filters-container") });

        // add/remove foreignkey filter on change in main select
        $("#search-filters-container").on("change", ".search-filter-main-select", (event) => {
            let newFilterValue = event.target.options[event.target.options.selectedIndex].value;
            if (foreignKeyNames.includes(newFilterValue)) {
                let newFilterResultType = newFilterValue.charAt(0).toUpperCase() + newFilterValue.slice(1);
                $.get("{% url 'catalogue:make_search_filter_foreignkey' %}", {
                    'resultType': newFilterResultType,
                }, function (data) {
                    console.log(data);
                    event.target.insertAdjacentHTML('afterend', data);
                });
            } else {
                console.log($(event.target).parent());
                $(event.target).parent().children('.search-filter-foreignkey-select').remove();
            }
        })

        // reset filters on resultType change
        $("#search-result-type-selector").on("change", resetSearchFilters);

        // delete specific filter when it's remove button is pressed
        $("#search-bar-container").on("click", ".search-filter-remove", (event) => {
            console.log('clicked');
            console.log(event);
            event.target.parentNode.remove();
        });

        // send filter data on submit in JSON serialized string
        $("#search-form").submit(() => {
            let query = makeSearchQuery();
            $('<input />').attr('type', 'hidden')
                .attr('name', 'data')
                .attr('value', JSON.stringify(query))
                .appendTo("#search-form");
            return true;
        });
    });


    /*
    redesign is happening here

    1. make search bar a box, with select type on left (inline select) - V
    2. give submit button on right of search bar - V
    3. add a + button in search bar - V
    4. make+add select after button press - v
    6. add cancel button to select - v
    7. remove select after button pressed - v
    8. pop up extra box for foreignkey - v
    9. reload filter data after submit

    4. get list of all filter fields for all types to start (have visible and invisible values for each) - v
    5. if + button pressed, create html box in search bar, with select for appropriate field types, text input, and little x button - v
    6. if x button pressed, remove text box - v
    7. if resultType changed, remove all boxes - v
    8. define onsubmit action (put together appropriate data structure for SearchView) - v
    9. if foreignkey, pop up extra box - v
    10. keep track of field types, and only show field types not active in new boxes - not gonna do that now
    11. change history to allow back arrow + reload
    12. delete with backspace - stretch goal
    */

</script>

{% endblock %}

{% block page_title %}Search{% endblock %}

{% block content %}
<form id="search" method="GET" action="" class="form-inline">
    <div id="search-bar" name="Search Bar" class='input-group'>
        <div class="col-xs-2 form-group">
            <select name="resultType" class="form-control search-selector" required="" id="resultTypeSelector">
                {% for resultType in resultTypes %}
                <option class="form-control" value="{{ resultType }}"
                    {% if resultType == selectedModel %}selected{% endif %}>
                    {{ resultType }}</option>
                {% endfor %}
            </select>
        </div>
        <div name="search-bar-body" id="search-bar-body" class="col-xs-10 form-group form-control flex-container">
        </div>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-default btn-submit">Submit</button>
    </div>
</form>

<div class="row">
    <div class="form flex-container col-xs-10" name="search-bar-container" id="search-bar-container">
        <div class="form-group">
            <select class="form-control" name="resultType" id="search-result-type-selector">
                {% for model in modelsToSearch %}
                <option class="form-control" value="{{ model }}" {% if model == selectedModel %}selected{% endif %}>
                    {{ model }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group flex-container" name="search-bar-main-body">
            <!-- I want this wider, and I shouldn't have to nest flex containers inside each other -->
            <div class="form-control flex-container" name="search-filters-container" id="search-filters-container">

            </div>
            <button type="button" class="btn" id="add-search-filter-button">+</button>
        </div>
        <form method="POST" action="" id="search-form" name="search-form">
            <div class="form-group">
                <button type="submit" class="btn btn-default btn-submit" id="search-bar-submit">Search</button>


            </div>
            {% csrf_token %}
        </form>
    </div>
</div>

<div class="row">
    <div class="table-responsive">
        <table class=table>
            {% if selectedModel == "Series" %}
            <tr>
                <th>Name</th>
            </tr>
            {% for series in object_list %}
            <tr>
                <td><a href="{% url 'catalogue:series_detail' series.pk %}">{{ series.name }}</a></td>
            </tr>
            {% endfor %}
            {% elif selectedModel == "Exhibition" %}
            <tr>
                <th>Name</th>
                <th>Start date</th>
                <th>End date</th>
            </tr>
            {% for exhibition in object_list %}
            <tr>
                <td><a href="{% url 'catalogue:exhibition_detail' exhibition.pk %}">{{ exhibition.name }}</a></td>
                <td>{{ exhibition.start_date }}</td>
                <td>{{ exhibition.end_date }}</td>
            </tr>
            {% endfor %}
            {% elif selectedModel == "Location" %}
            <tr>
                <th>Name</th>
                <th>City</th>
                <th>Country</th>
            </tr>
            {% for location in object_list %}
            <tr>
                <td><a href="{% url 'catalogue:location_detail' location.pk %}">{{ location.name }}</a></td>
                <td>{{ location.city }}</td>
                <td>{{ location.country }}</td>
            </tr>
            {% endfor %}
            {% else %}
            <tr>
                <th></th>
                <th>Series</th>
                <th>Title</th>
                <th>Location</th>
                <th>Size</th>
            </tr>
            {% for artwork in object_list %}
            <tr>
                <td>
                    <a href="{% url 'catalogue:artwork_detail' artwork.pk %}">
                        {% if artwork.image %}
                        <img class="img-fluid" style="width: 80px; object-fit: contain;" src="{{ artwork.image.url }}"
                            alt="Artwork image">
                        {% else %}
                        <img class="img-fluid" style="width: 80px; object-fit: contain;"
                            src="{% static 'catalogue/images/unicorn.png' %}" alt="Artwork image">
                        {% endif %}
                    </a>
                </td>
                <td><a href="{% url 'catalogue:series_detail' artwork.series.pk %}">{{ artwork.series }}</a></td>
                <td><a href="{% url 'catalogue:artwork_detail' artwork.pk %}">{{ artwork.title }}</a></td>
                <td><a href="{% url 'catalogue:location_detail' artwork.location.pk %}">{{ artwork.location }}</a>
                </td>
                <td>{{ artwork.size }}</td>
            </tr>
            {% endfor %}
            {% endif %}
        </table>
    </div>
</div>
<p>selectedModel: {{ selectedModel }}</p>
<h3>Get Params</h3>
{{ getParams }}
<h3>Post Params</h3>
{{ postParams }}
<h3>Resulting filters</h3>
{{ filters }}
{% endblock %}