{% extends "base.html" %}
{% load static %}
{% load widget_tweaks %}


{% block custom_headers %}
<!-- <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script> -->
<script>


    const foreignKeyNames = ['series', 'location'];


    function makeSearchQuery() {
        let search_params = {
            'artwork': {},
            'location': {},
            'exhibition': {}
        };
        function feed_params_with_inputs(input_selector, param) {
            for (input of input_selector) {
                search_params[param][input.name] = input.value;
            }
        }
        feed_params_with_inputs($('.search-artwork-details'), 'artwork')
        feed_params_with_inputs($('#search-location-details input, #search-location-details select'), 'location')
        feed_params_with_inputs($('#search-exhibition-details input, #search-exhibition-details select'), 'exhibition')
        return search_params;
    }



    $(document).ready(function () {

        // initialize select2
        $('#search-bar-main select').select2();
        $('#search-bar-more select').select2({ width: 'style' });

        // send filter data on submit in JSON serialized string
        $("#search-form").submit(() => {
            let query = makeSearchQuery();
            $('<input />').attr('type', 'hidden')
                .attr('name', 'search_form_data')
                .attr('value', JSON.stringify(query))
                .appendTo("#search-form");
            return true;
        });
    });


    /*
    Modularize search bar:
    Search - like streeteasy, but not as spaced - some major categories separated, and advanced categories
    Size categories - come up with a few chunks
    Sort order for artworks? Large -> small then by year
    Size category determined by size in cm, automatically show category
    150 x 180 - large
    Can search for objects in series from series detail view
    Search bar in series, location, exhibition detail view (automatically search for artworks in that particular thing)
    Main categories for search:
    size category
    Series (if searching not from within series page)
    Status
    Location (if searching not from within location page)


    search fields:
    artwork:     searchable_fields = [
        series,
        title,
        location,
        status,
        year,
        size,
        medium,
        rolled,
        owner,
    ]
    exhibition:     searchable_fields = [
        name,
        description,
        location,
        start_date,
        end_date,
    ]
    location:     searchable_fields = [
        name,
        description,
        address_1,
        city,
        state,
        country,
        zip_code,
    ]
    */

</script>

{% endblock %}

{% block page_title %}Search{% endblock %}

{% block content %}

<div class="row">

    <div id="search-bar-wrapper">
        <div id="search-bar-main" class="search-bar-main form-inline">
            <div class="form-group">
                {% render_field artwork_search_form.series class="form-control rounded-0 search-artwork-details" %}
            </div>
            <div class="form-group">
                {% render_field artwork_search_form.title class="form-control rounded-0 search-artwork-details" %}
            </div>
            <div class="form-group">
                {% render_field artwork_search_form.size class="form-control rounded-0 search-artwork-details" %}
            </div>
            <div class="form-group">
                {% render_field artwork_search_form.location class="form-control rounded-0 search-artwork-details" %}
            </div>
            <div class="form-group">
                {% render_field artwork_search_form.status class="form-control rounded-0 search-artwork-details" %}
            </div>
            <form action="" method="GET" id="search-form">
                <button type="submit" id="search-submit-form" class="btn btn-primary rounded-0">Search</button>
            </form>
        </div>
        <div class="form-group">
            <span id="search-show-more" class="collapsed" data-toggle="collapse" data-target="#search-bar-more"
                aria-expanded="false" aria-controls="search-bar-more"></span>
        </div>
        <div id="search-bar-more" class="form collapse">
            <div class="form-row search-show-more-row">
                <div class="form-group col-6">
                    {{ artwork_search_form.year.label_tag }}
                    {% render_field artwork_search_form.year class="form-control rounded-0 search-artwork-details" %}
                </div>
                <div id='search-exhibition-details' class='form-group col-6'>
                    {{ exhibition_search_form.exhibition.label_tag }}
                    {% render_field exhibition_search_form.exhibition class="form-control rounded-0" style="width:100%;" %}
                </div>
            </div>
            <div class="form-row search-show-more-row" style="border-bottom:1px solid #cccccc;">
                <div class="form-group col-6">
                    {{ artwork_search_form.owner.label_tag }}
                    {% render_field artwork_search_form.owner class="form-control rounded-0 search-artwork-details" %}
                </div>
                <div class="form-group col-6">
                    {{ artwork_search_form.medium.label_tag }}
                    {% render_field artwork_search_form.medium class="form-control rounded-0 search-artwork-details" %}
                </div>
            </div>
            <div id='search-location-details'>
                <span>Location Details</span>
                <div class="form-row search-show-more-row">
                    <div class="form-group col-12">
                        {{ location_search_form.name.label_tag }}
                        {% render_field location_search_form.name class="form-control rounded-0" %}
                    </div>

                </div>
                <div class="form-row search-show-more-row">
                    <div class="form-group col-8">
                        {{ location_search_form.address_1.label_tag }}
                        {% render_field location_search_form.address_1 class="form-control rounded-0" %}
                    </div>
                    <div class="form-group col-4">
                        {{ location_search_form.zip_code.label_tag }}
                        {% render_field location_search_form.zip_code class="form-control rounded-0" %}
                    </div>
                </div>
                <div class="form-row search-show-more-row">
                    <div class="form-group col-4">
                        {{ location_search_form.city.label_tag }}
                        {% render_field location_search_form.city class="form-control rounded-0" %}
                    </div>
                    <div class="form-group col-4">
                        {{ location_search_form.state.label_tag }}
                        {% render_field location_search_form.state class="form-control rounded-0" %}
                    </div>
                    <div class="form-group col-4">
                        {{ location_search_form.country.label_tag }}
                        {% render_field location_search_form.country class="form-control rounded-0" %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</div>
<div class="row">
    <!-- <a href="{ createLink }}" class="btn btn-primary">Create new</a> -->
</div>
<div class="row" id="search-results-container">
    {% include "./artwork_list.html" with object_list=object_list %}
</div>

{% endblock %}