{% extends "base.html" %}
{% load static %}
{% load widget_tweaks %}


{% block custom_headers %}
<!-- <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script> -->
<script>

    function getResultType() {
        let resultTypeSelector = $("#search-result-type-selector")[0];
        return resultTypeSelector.options[resultTypeSelector.options.selectedIndex].value;
    }

    const foreignKeyNames = ['series', 'location'];

    function addSearchFilter(element) {
        let resultType = getResultType();
        $.get("{% url 'catalogue:make_search_filter' %}", {
            'resultType': resultType,
        }, function (data) {
            $(element).append(data);
            $('.search-filter-main-select').select2();
            $('.search-filter-foreignkey-select').select2();
        });
    }

    function resetSearchFilters() {
        $("#search-filters-container").empty();
        addSearchFilter("#search-filters-container");
    }

    // function makeSearchQuery() {
    //     let resultType = getResultType();
    //     let filters = [];

    //     let filtersList = $(".search-filter");
    //     for (let i = 0; i < filtersList.length; i++) {
    //         let searchFilter = filtersList.eq(i);
    //         let mainSelect = searchFilter.find(".search-filter-main-select")[0];
    //         let foreignSelect = searchFilter.find(".search-filter-foreignkey-select")[0];
    //         let filterText = searchFilter.find(".search-filter-text")[0];

    //         let fieldName = mainSelect.options[mainSelect.options.selectedIndex].value;
    //         let foreignKeyField;

    //         if (foreignSelect) {
    //             foreignKeyField = foreignSelect.value;
    //         } else if (fieldName === "series") { // this is so if series is first option opened still have foreignKeyField value - should be cleaned up
    //             foreignKeyField = "name"
    //         }

    //         filters.push({
    //             "fieldName": fieldName,
    //             "fieldValue": filterText.value,
    //             "foreignKeyField": foreignKeyField
    //         })
    //     }
    //     return { "resultType": resultType, "filters": filters }
    // }
    function makeSearchQuery() {
        let search_params = {
            'artwork': {},
            'location': {},
            'exhibition': {}
        };
        function feed_params_with_inputs(input_selector, param) {
            for (input of input_selector) {
                search_params[param][input.name] = input.value;
            }
        }
        feed_params_with_inputs($('.search-artwork-details'), 'artwork')
        feed_params_with_inputs($('#search-location-details input, #search-location-details select'), 'location')
        feed_params_with_inputs($('#search-exhibition-details input, #search-exhibition-details select'), 'exhibition')
        return search_params;
    }



    $(document).ready(function () {

        // initialize select2
        $('#search-bar-wrapper select').select2();
        $('#search-result-type-selector').select2();
        $('.search-filter-main-select').select2();
        $('.search-filter-foreignkey-select').select2();

        // add filters on click
        $("#add-search-filter-button").on("click", () => { addSearchFilter("#search-filters-container") });

        // add/remove foreignkey filter on change in main select
        $("#search-filters-container").on("change", ".search-filter-main-select", (event) => {
            $(event.target).parent().parent().children('.search-filter-foreignkey-select-wrapper').remove();
            let newFilterValue = event.target.options[event.target.options.selectedIndex].value;
            if (foreignKeyNames.includes(newFilterValue)) {
                let newFilterResultType = newFilterValue.charAt(0).toUpperCase() + newFilterValue.slice(1);
                $.get("{% url 'catalogue:make_search_filter_foreignkey' %}", {
                    'resultType': newFilterResultType,
                }, function (data) {
                    $(data).insertAfter($(event.target).parent());
                    $('.search-filter-main-select').select2();
                    $('.search-filter-foreignkey-select').select2();
                });
            }
        })

        // reset filters on resultType change
        $("#search-result-type-selector").on("change", resetSearchFilters);

        // delete specific filter when its remove button is pressed
        $("#search-bar-container").on("click", ".search-filter-remove", (event) => {
            $(event.target).parent().parent().remove();
        });

        // send filter data on submit in JSON serialized string
        $("#search-form").submit(() => {
            let query = makeSearchQuery();
            $('<input />').attr('type', 'hidden')
                .attr('name', 'search_form_data')
                .attr('value', JSON.stringify(query))
                .appendTo("#search-form");
            return true;
        });
    });


    /*
    Modularize search bar:
    Search - like streeteasy, but not as spaced - some major categories separated, and advanced categories
    Size categories - come up with a few chunks
    Sort order for artworks? Large -> small then by year
    Size category determined by size in cm, automatically show category
    150 x 180 - large
    Can search for objects in series from series detail view
    Search bar in series, location, exhibition detail view (automatically search for artworks in that particular thing)
    Main categories for search:
    size category
    Series (if searching not from within series page)
    Status
    Location (if searching not from within location page)


    search fields:
    artwork:     searchable_fields = [
        series,
        title,
        location,
        status,
        year,
        size,
        medium,
        rolled,
        owner,
    ]
    exhibition:     searchable_fields = [
        name,
        description,
        location,
        start_date,
        end_date,
    ]
    location:     searchable_fields = [
        name,
        description,
        address_1,
        city,
        state,
        country,
        zip_code,
    ]
    */

</script>

{% endblock %}

{% block page_title %}Search{% endblock %}

{% block content %}
<!-- <div class="row">
    <div class="form flex-container" name="search-bar-container" id="search-bar-container">
        <div class="form-group">
            <select class="form-control rounded-0" name="resultType" id="search-result-type-selector">
                {% for model in modelsToSearch %}
                <option class="form-control rounded-0" value="{{ model }}" {% if model == selectedModel %}selected{% endif %}>
                    {{ model }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group flex-container" id="search-bar-main-body">
            <div class="form-control rounded-0 flex-container" name="search-filters-container" id="search-filters-container">
                { include "./search_bar.html" with filters=filters foreignKeyFields=foreignKeyFields fields=fields%}
            </div>
            <button type="button" class="btn" id="add-search-filter-button">+</button>
        </div>
        <form method="POST" action="" id="search-form" name="search-form">
            <div class="form-group">
                <button type="submit" class="btn btn-default btn-submit" id="search-bar-submit">Search</button>


            </div>
            {% csrf_token %}
        </form>
    </div>
</div>  -->
<div class="row">

    <div id="search-bar-wrapper">
        <div class="search-bar-main form-inline" style="display:flex;flex-wrap:nowrap;">
            <div class="form-group">
                {% render_field artwork_search_form.series class="form-control rounded-0 search-artwork-details" %}
            </div>
            <div class="form-group">
                {% render_field artwork_search_form.title class="form-control rounded-0 search-artwork-details" %}
            </div>
            <div class="form-group">
                {% render_field artwork_search_form.size class="form-control rounded-0 search-artwork-details" %}
            </div>
            <div class="form-group">
                {% render_field artwork_search_form.location class="form-control rounded-0 search-artwork-details" %}
            </div>
            <div class="form-group">
                {% render_field artwork_search_form.status class="form-control rounded-0 search-artwork-details" %}
            </div>
            <form action="" method="POST" id="search-form">
                {% csrf_token %}
                <button type="submit">submit</button>
            </form>
        </div>
        <div class="form-group">
            <span id="search-show-more" class="collapsed" data-toggle="collapse" data-target="#search-bar-more"
                aria-expanded="false" aria-controls="search-bar-more"></span>
        </div>
        <div id="search-bar-more" class="form-inline collapse">
            <div class="form-group">
                {{ artwork_search_form.year.label_tag }}
                {% render_field artwork_search_form.year class="form-control rounded-0 search-artwork-details" %}
            </div>
            <div class="form-group">
                {{ artwork_search_form.owner.label_tag }}
                {% render_field artwork_search_form.owner class="form-control rounded-0 search-artwork-details" %}
            </div>
            <div class="form-group">
                {{ artwork_search_form.medium.label_tag }}
                {% render_field artwork_search_form.medium class="form-control rounded-0 search-artwork-details" %}
            </div>
            <div id='search-exhibition-details'>
                {% for field in exhibition_search_form %}
                <div class="form-group">
                    {{ field.label_tag }}
                    {% render_field field class="form-control rounded-0" %}
                </div>
                {% endfor %}
            </div>
            <div id='search-location-details'>
                <span>Location Details</span>
                {% for field in location_search_form %}
                <div class="form-group">
                    {{ field.label_tag }}
                    {% render_field field class="form-control rounded-0" %}
                </div>
                {% endfor %}
            </div>
        </div>
    </div>

</div>
<div class="row">
    <!-- <a href="{ createLink }}" class="btn btn-primary">Create new</a> -->
</div>
<div class="row" id="search-results-container">
    {% if selectedModel == "Series" %}
    {% include "./series_list.html" with object_list=object_list %}
    {% elif selectedModel == "Location" %}
    {% include "./location_list.html" with object_list=object_list %}
    {% elif selectedModel == "Exhibition" %}
    {% include "./exhibition_list.html" with object_list=object_list %}
    {% else %}
    {% include "./artwork_list.html" with object_list=object_list %}
    {% endif %}

</div>

{% endblock %}