{% extends "catalogue/detail.html" %} 

{% block page_title %}Series{% endblock %}

{% block related %}
<h3>Artworks in Series</h3>
<table>
    <tr>
        <th>Title</th>
        <th>Size</th>
        <th>Location</th>

    </tr>
    {% for artwork in members %}
    <tr>
        <td><a href="{% url 'catalogue:artwork_detail' artwork.pk %}">{{ artwork.title }}</a></td>
        <td>{{ artwork.size }}</td>
        <td><a href="{% url 'catalogue:location_detail' artwork.location.pk %}">{{ artwork.location }}</a></td>
    </tr>
    {% endfor %}
</table>
{% endblock %}