{% extends "generic.html" %}
{% load static %}


{% block custom_headers %}
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script>
    function makeSearchFilter(selectValues) {
        let filters = $('.search-filter')
        let selectID;
        if (filters.length > 0) {
            selectID = Math.max(...filters.map(function () { return this.id.slice(14) })) + 1;
        } else {
            selectID = 1;
        }
        console.log("selectID: " + selectID);
        htmlBuilder = `<div class="form-group search-filter search-filter-${selectID}" id="search-filter-${selectID}">`
        let selectHeader = `<select name="resultFilter_${selectID}" class="form-control search-selector search-filter-select search-filter-${selectID}" required="" id="resultFilter_${selectID}">`
        htmlBuilder += selectHeader;
        // console.log(typeof selectedValues);
        let fields = Object.entries(selectValues);
        for (let i = 0; i < fields.length; i++) {
            htmlBuilder += `<option value="${fields[i][0]}">${fields[i][1]}</option>`
        }
        htmlBuilder += `<input type="text" class="form-control search-filter-text search-filter-${selectID}" id="resultfiltervalue_${selectID}" name="resultFilterValue_${selectID}">`
        htmlBuilder += "</select></div>";
        htmlBuilder += `<div class="form-group"><button type="button" class="btn btn-default search-filter-append">AND</button></div>`;
        return htmlBuilder;
    }

    function getFilterCount() {
        let filters = $('.search-filter')
        let filterCount;
        if (filters.length > 0) {
            filterCount = Math.max(...filters.map(function () { return this.id.slice(14) })) + 1;
        } else {
            filterCount = 1;
        }
        return filterCount;
    }

    function addSearchFilter() {
        let filterCount = getFilterCount();
        let resultTypeSelector = $("#resultTypeSelector")[0];
        let resultType = resultTypeSelector.options[resultTypeSelector.options.selectedIndex].value;
        $.get("searchbar", {
            // 'resultType': resultType
            'resultType': resultType,
            'count' : filterCount
        }, function (data) {
            $("#search-bar-body").append(data);
        });
    }

    function fillSearchFilters(params) {
        $.get("searchbar",
            $.param(params),
            function (data) {
                $("#search-bar-body").append(data);
            });
    }

    function resetSearchFilters() {
        $("#search-bar-body").empty();
        addSearchFilter();
    }

    function logPressed() {
        console.log("pressed");
    }

    function getQueryParams() {
        let search = window.location.search.substring(1);
        let params;
        if (search) {
            params = JSON.parse('{"' + search.replace(/&/g, '","').replace(/=/g, '":"') + '"}', function (key, value) { return key === "" ? value : decodeURIComponent(value) });
        } else {
            params = null;
        }
        return params;
    }

    $(document).ready(function () {
        console.log(getQueryParams());
        fillSearchFilters(getQueryParams());
        // addSearchFilter();
    });
    $(document).ready(function () {
        $("#resultTypeSelector").on("change", resetSearchFilters);
    });
    $(document).ready(function () {
        $("#search-bar-body").on("click", ".search-filter-append", addSearchFilter);
    });
</script>

{% endblock %}

{% block page_name %}
<h3>Search</h3>
{% endblock page_name %}

{% block content %}
<form id="search" method="GET" action="">
    <div id="search-bar" name="Search Bar" class='row'>
        <div class="form-group">
            <select name="resultType" class="form-control search-selector" required="" id="resultTypeSelector">
                {% for resultType in resultTypes %}
                <option class="form-control" value="{{ resultType }}" {% if resultType == model %}selected{% endif %}>{{ resultType }}</option>
                {% endfor %}
            </select>
            <div name="search-bar-body" id="search-bar-body">

            </div>
        </div>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-default btn-submit">Submit</button>
    </div>
</form>

<div class="row">
    <div class="table-responsive">
        <table class=table>
            {% if model == "Series" %}
            <tr>
                <th>Name</th>
            </tr>
            {% for series in object_list %}
            <tr>
                <td><a href="{% url 'series_detail' series.pk %}">{{ series.name }}</a></td>
            </tr>
            {% endfor %}
            {% elif model == "Exhibition" %}
            <tr>
                <th>Name</th>
                <th>Start date</th>
                <th>End date</th>
            </tr>
            {% for exhibition in object_list %}
            <tr>
                <td><a href="{% url 'exhibition_detail' exhibition.pk %}">{{ exhibition.name }}</a></td>
                <td>{{ exhibition.start_date }}</td>
                <td>{{ exhibition.end_date }}</td>
            </tr>
            {% endfor %}
            {% elif model == "Location" %}
            <tr>
                <th>Name</th>
                <th>City</th>
                <th>Country</th>
            </tr>
            {% for location in object_list %}
            <tr>
                <td><a href="{% url 'location_detail' location.pk %}">{{ location.name }}</a></td>
                <td>{{ location.city }}</td>
                <td>{{ location.country }}</td>
            </tr>
            {% endfor %}
            {% else %}
            <tr>
                <th></th>
                <th>Series</th>
                <th>Title</th>
                <th>Location</th>
                <th>Size</th>
            </tr>
            {% for artwork in object_list %}
            <tr>
                <td>
                    <a href="{% url 'artwork_detail' artwork.pk %}">
                        <img class="img-fluid" style="width: 80px; object-fit: contain;"
                            src="{% static 'catalogue/images/unicorn.png' %}" alt="Artwork image">
                    </a>
                </td>
                <td><a href="{% url 'series_detail' artwork.series.pk %}">{{ artwork.series }}</a></td>
                <td><a href="{% url 'artwork_detail' artwork.pk %}">{{ artwork.title }}</a></td>
                <td><a href="{% url 'location_detail' artwork.location.pk %}">{{ artwork.location }}</a></td>
                <td>{{ artwork.size }}</td>
            </tr>
            {% endfor %}
            {% endif %}
        </table>
    </div>
</div>
<p>model: {{ model }}</p>
<h3>Get Params</h3>
{{ getParams }}
<h3>Post Params</h3>
{{ postParams }}
{% endblock %}