{% extends "generic.html" %}

{% block custom_headers %}
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script>
    function makeSearchFilter(selectValues) {
        let filters = $('.search-filter')
        let selectID;
        if (filters.length > 0) {
            selectID = Math.max(...filters.map(function () { return this.id.slice(14) })) + 1;
        } else {
            selectID = 1;
        }
        console.log("selectID: " + selectID);
        htmlBuilder = `<div class="form-group search-filter search-filter-${selectID}" id="search-filter-${selectID}">`
        let selectHeader = `<select name="resultFilter_${selectID}" class="form-control search-selector search-filter-select search-filter-${selectID}" required="" id="resultFilter_${selectID}">`
        htmlBuilder += selectHeader;
        // console.log(typeof selectedValues);
        let fields = Object.entries(selectValues);
        for (let i = 0; i < fields.length ; i++) {
            htmlBuilder += `<option value="${fields[i][0]}">${fields[i][1]}</option>`
        }
        htmlBuilder += `<input type="text" class="form-control search-filter-text search-filter-${selectID}" id="resultfiltervalue_${selectID}" name="resultFilterValue_${selectID}">`
        htmlBuilder += "</select></div>";
        htmlBuilder += `<div class="form-group"><button type="button" class="btn btn-default search-filter-append">AND</button></div>`;
        return htmlBuilder;
    }
    function addSearchFilter(actionSuccess) {
        let resultTypeSelector = $("#resultTypeSelector")[0];
        let resultType = resultTypeSelector.options[resultTypeSelector.options.selectedIndex].value;
        $.post("/ajax_calls/search_selector", {
            'csrfmiddlewaretoken': '{{ csrf_token }}',
            'resultType': resultType
        }, function (data) {
            $("#search-bar-body").append(makeSearchFilter(data.fields));
        });
    }

    function resetSearchFilters() {
        $("#search-bar-body").empty();
        addSearchFilter();
    }
    function logPressed() {
        console.log("pressed");
    }
    $(document).ready(function () {
        addSearchFilter();
    });
    $(document).ready(function () {
        $("#resultTypeSelector").on("change", resetSearchFilters);
    });
    $(document).ready(function () {
        $("#search-bar-body").on("click", ".search-filter-append", addSearchFilter);
    });

    // $(document).ready(function () {
    //     $("#resultTypeSelector").on("change", function () {
    //         let resultTypeSelector = $("#resultTypeSelector")[0];
    //         let resultType = resultTypeSelector.options[resultTypeSelector.options.selectedIndex].value;
    //         $.post("/ajax_calls/search_selector", {
    //             'csrfmiddlewaretoken': '{{ csrf_token }}',
    //             'resultType': resultType
    //         },
    //             function (data) {
    //                 // console.log(data);
    //                 let newSelect = newSearchParam(data.fields);
    //                 $("#search-bar").append(
    //                     newSelect
    //                 );
    //             });
    //     });
    // });
    // $(document).ready(function () {
    //     $("#txtSearch").autocomplete({
    //         source: "/ajax_calls/search/",
    //         minLength: 2,
    //         open: function () {
    //             setTimeout(function () {
    //                 $('.ui-autocomplete').css('z-index', 99);
    //             }, 0);
    //         }
    //     });
    // });
    // $(document).ready(function () {
    //     $("#actionbutton").click(function () {
    //         console.log('sucess!');
    //         $("#buttonresult").append("<p>something</p>");
    //     }
    //     );
    // });
    // $(document).ready(function () {
    //     $("#actionbutton").on("click", function () {
    //         $.post("/ajax_calls/easy", {
    //             'csrfmiddlewaretoken': '{{ csrf_token }}',
    //             'param1': 'red',
    //             'param2': 15
    //         },
    //             function () {
    //                 alert('returned!');
    //             });
    //     });
    // });
    // $(document).ready(function () {
    //     $("#search-bar").on("change", ".search-filter", function(event) {

    //         let highestChangedIndex = event.target.className.match(/search-filter-[0-9]+/)[0].slice(14);
    //         let activeFilters = $(".search-filter")
    //         // console.log('called');
    //         console.log(event.target);
    //     });
    // });
    // $(document).ready(function () {
    //     $("#search-bar").on("click", ".search-selector", function () {
    //         let resultTypeSelector = $("#resultTypeSelector")[0];
    //         let resultTypeSelected = resultTypeSelector.options[resultTypeSelector.options.selectedIndex].value;
    //         $.post("/ajax_calls/search-selector", {
    //             'csrfmiddlewaretoken': '{{ csrf_token }}',
    //             'resultType': "Artwork",
    //             'resultType': resultTypeSelected
    //         },
    //             function (data) {
    //                 console.log(data);
    //                 let newSelect = newSearchParam(data.fields);
    //                 $("#search-bar").append(
    //                     newSelect
    //                 );
    //             });
    //     });
    // });
    // $(document).ready(function () {
    //     $("#search-bar").on("click", ".search-selector", function () {
    //         $.post("/ajax_calls/easy", {
    //             'csrfmiddlewaretoken': '{{ csrf_token }}',
    //             'model': $("#resultType").options[e.target.selectedIndex].text;
    //         },
    //             function (data) {
    //                 let newSelect = newSearchParam(["banana", "Potato"]);
    //                 $("#search-bar").append(
    //                     newSelect
    //                 );
    //             });
    //     });
    // });
    // $(document).ready(function () {
    //     $("#search-bar").on("click", ".search-selector", function () {
    //         $.post("/ajax_calls/easy", {
    //             'csrfmiddlewaretoken': '{{ csrf_token }}'
    //         },
    //             function (data) {
    //                 let dataOptions = "<option>" + String(data) + "</option>";
    //                 let select_string = "<select class=\"form-control search-selector\"><option>Nada</option>";
    //                 console.log(dataOptions);
    //                 console.log(select_string);
    //                 $("#search-bar").append(
    //                     select_string + dataOptions + "</select>"
    //                     // "<select class=\"form-control search-selector\"><option value=\"1\">1</option><option value=\"2\">2</option></select>"
    //                 );
    //             });
    //     });
    // });

</script>

{% endblock %}

{% block page_name %}
<h3>Search</h3>
{% endblock page_name %}

{% block content %}
<form id="search" method="GET" action="">
    {% csrf_token %}
    <div id="search-bar" name="Search Bar" class='row'>

        <div class="form-group">
            <select name="resultType" class="form-control search-selector" required="" id="resultTypeSelector">
                {% for resultType in resultTypes %}
                <option class="form-control" value="{{ resultType }}">{{ resultType }}</option>
                {% endfor %}
            </select>
            <div name="search-bar-body" id="search-bar-body">

            </div>
        </div>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-default btn-submit">Submit</button>
    </div>
</form>
<!-- <button class="btn" id="actionbutton">Press me!</button> -->
<!-- <div id="buttonresult">intial value</div> -->
{% for object in object_list %}
<div class='row'>
    <div class='col-12'>
        result: <a href='{{ object.get_absolute_url }}'>{{ object.title }}</a>
    </div>
</div>
{% endfor %}
<p>fields: {{ fields }}</p>
<h3>Get Params</h3>
{{ getParams }}
<h3>Post Params</h3>
{{ postParams }}
{% endblock %}