{% extends "catalogue/overview/overview.html" %}

{% block page_name %}Artworks{% endblock page_name %}

{% block create_url %}{% url 'catalogue:artwork_new' %}{% endblock create_url %}

{% block page_body %}
<div class="section">
    {% include 'catalogue/search/search_bar.html' with artwork_search_form=artwork_search_form location_search_form=location_search_form exhibition_search_form=exhibition_search_form %}
    {% include 'catalogue/search/search_results.html' with object_list=search_results %}
</div>
{% endblock page_body %}