{% extends "catalogue/overview/overview.html" %}

{% block page_name %}Locations{% endblock page_name %}

{% block create_url %}{% url 'catalogue:location_new' %}{% endblock create_url %}

{% block page_body %}
<div class="section">
    {% include 'catalogue/utils/location_category.html' with object_list=PermanentLocations name="Permanent Locations" %}
</div>
<div class="section">
    {% include 'catalogue/utils/location_category.html' with object_list=GalleryLocations name="Galleries" %}
</div>
<div class="section">
    {% include 'catalogue/utils/location_category.html' with object_list=ClientLocations name="Clients" %}
</div>
<div class="section">
    {% include 'catalogue/utils/location_category.html' with object_list=OtherLocations name="Other" %}
</div>
{% endblock page_body %}