{% extends "base.html" %}

{% block content %}
<div id="page-header" class="section form-inline">
    <div class="form-group" style="padding-left:1rem;">
        <h1 id="object-type" class="page-title object-name header-item">{%block page_name %}{% endblock page_name %}</h1>
        <span class="header-item separator" style="margin-left:1.5rem;margin-right:1.5rem;"> / </span>
        <label class="header-item" id="breadcrumb"
            for="object-type">{% block breadcrumb %}Overview{% endblock breadcrumb %}</label>
    </div>
    {% block create_button %}
    <a id="create-new" class="header-action action-button btn"
        href="{% block create_url %}{% endblock create_url %}">Create New</a>
    {% endblock %}
</div>
    {% block page_body  %} {% endblock page_body %}
{% endblock content %}